.content {
  display: none;
}

.header {
  height: 40px;
  display: flex;
  align-content: center;
}

.header::after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  content: ' ';
  display: inline-block;
  height: 1.25rem;
  width: 1.25rem;
  transition: transform var(--ifm-transition-fast) linear;
  transform: rotate(90deg);
  margin-top: -8px;
}

.header.active::after {
  transform: rotate(180deg);
}
