.osList {
  text-align: center;
  margin-bottom: 30px;
}

.osList h3 {
  margin: 0;
}

.osIcon {
  font-size: 3em;
}

.osIconLink {
  color: var(--ifm-font-base-color) !important;
  text-decoration: none !important;
  margin-bottom: 20px;
  display: inline-block;
}
