---
import Layout from '@src/layouts/SidebarLayout.astro'
import { geti18nCollection } from '@src/utils'
import { convertCollectionToTree } from '@src/utils.js'
import { astroI18n } from 'astro-i18n'

export async function getStaticPaths() {
  const collection = await geti18nCollection('docs', astroI18n.langCode)

  return collection.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
      collection,
    },
  }))
}

const { entry, collection } = Astro.props
const { Content, headings } = await entry.render()
const tree = convertCollectionToTree(collection)
---

<Layout
  title="test docs post"
  relatedPages={tree['core']['1']}
  baseUrl="docs"
  entry={entry}
  headings={headings}
  editOnGithub={true}
>
  <div class="prose">
    <Content />
  </div>
</Layout>
