---
import Layout from "@src/layouts/SidebarLayout.astro";
import { getCollection } from "astro:content";
import { buildSidebarObject } from "@src/components/Layout/RelatedPages.astro";

export async function getStaticPaths() {
  const collection = await getCollection("api");

  return collection.map((entry) => {
    const [version, ...slug] = entry.slug.split("/");
    return {
      params: {
        version,
        slug: slug.join("/"),
      },
      props: {
        entry,
        collection,
      },
    };
  });
}

const { entry, collection } = Astro.props;
const { Content, headings } = await entry.render();
let entries;
// if (entry.slug.startsWith("js")) {
//   entries = collection
//     .filter((entry) => entry.slug.startsWith("js"))
//     // Derive the title of the module
//     .map((entry) => ({
//       ...entry,
//       data: {
//         title: entry.slug.split("/").pop(),
//       },
//     }));
//   entries = buildSidebarObject(entries);
//   // Goes down two folders to start sidebar
//   entries = entries[0]["_children"][0]["_children"];
// }
---

<Layout title="test docs post" sidebarEntries={entries} headings={headings}>
  <div class="prose">
    <Content />
  </div>
</Layout>
