---
import Layout from '../../../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { buildLocalizedStaticPaths } from '../../../utils'

export async function getStaticPaths() {
  return buildLocalizedStaticPaths()
}

const { locale } = Astro.params

const collection = await getCollection('blog')

const filteredCollection = collection
  .filter((entry) => entry.slug.startsWith(locale ?? 'en'))
  .map((entry) => {
    const [locale, ...slug] = entry.slug.split('/')
    const year = String(entry.data.date.getFullYear())
    const month = String(entry.data.date.getMonth() + 1).padStart(2, '0')
    const day = String(entry.data.date.getDate() + 1).padStart(2, '0')

    const path = []

    if (locale !== 'en') {
      path.push(locale)
    }

    return path.concat(['blog', year, month, day, ...slug]).join('/')
  })
---

<Layout title="Blog">
  <h1>Blog Posts</h1>
  <ul>
    {
      filteredCollection.map((entry) => (
        <li>
          <a href={entry}>{entry}</a>
        </li>
      ))
    }
  </ul>
</Layout>
