.closing::after {
  content: ']';
}

.opening::after {
  content: '[';
  top: -64px;
  right: 0;
}

.closing {
  position: absolute !important;
}
.closing::after,
.opening::after {
  font-size: 30px;
  position: absolute;
  background-color: var(--ifm-background-color);
}

.closing,
.opening {
  position: relative;
}
