[submodule "packages/tauri-v2"]
	path = packages/tauri-v2
	url = https://github.com/tauri-apps/tauri.git
	branch = dev
[submodule "packages/plugins-workspace"]
	path = packages/plugins-workspace
	url = https://github.com/tauri-apps/plugins-workspace.git
	branch = v2
[submodule "packages/tauri-v1"]
	path = packages/tauri-v1
	url = git@github.com:tauri-apps/tauri.git
	branch = 1.x
