[submodule "packages/tauri"]
	path = packages/tauri
	url = https://github.com/tauri-apps/tauri.git
[submodule "packages/plugins-workspace"]
	path = packages/plugins-workspace
	url = https://github.com/tauri-apps/plugins-workspace.git
	branch = v2
