# Deep Directories
**/node_modules

# Generated Directories
**/dist
**/.astro

# Git Modules
packages/tauri
packages/plugins-workspace

# Files
pnpm-lock.yaml

# Configs
.github
!.github/**.md

# TODO: Figure out why this format isn't acceptable
src/components/overrides/Header.astro
