---
import Layout from '@src/layouts/Layout.astro'
import { convertCollectionToTree } from '@src/utils'
import { t, astroI18n } from 'astro-i18n'
import IndexList from '@src/components/IndexList.astro'

// const tree = await convertCollectionToTree('docs', astroI18n.langCode)
---

<Layout title={t('docs.title')}>
  <main class="flex flex-col gap-4">
    <h1 class="h1">{t('docs.title')}</h1>

    <!-- {
      tree
        .filter((heading) => heading.slug.split('/').length == 3)
        .map((heading) => (
          <>
            <h2 class="h2">{heading.name}</h2>
            <IndexList
              tree={tree.filter(
                (item) =>
                  item.slug.split('/').length == 4 &&
                  item.slug.startsWith(heading.slug)
              )}
            />
          </>
        ))
    } -->
  </main>
</Layout>
