---
import Layout from '@src/layouts/Layout.astro'
import {
  buildLocalizedStaticPaths,
  getTransformedBlogCollection,
} from '@src/utils'

export async function getStaticPaths() {
  return buildLocalizedStaticPaths()
}

const { locale } = Astro.params

let collection = await getTransformedBlogCollection()
if (locale !== undefined) {
  collection = collection.filter((entry) => entry.slug.startsWith(`/${locale}`))
} else {
  collection = collection.filter((entry) => entry.slug.startsWith('/blog/'))
}
---

<Layout title="Posts">
  <h1>Blog Posts</h1>
  <ul>
    {
      collection.map((entry) => (
        <li>
          <a href={entry.slug}>{entry.slug}</a>
        </li>
      ))
    }
  </ul>
</Layout>
