---
import { stripLeadingAndTrailingSlashes } from 'node_modules/@astrojs/starlight/utils/path';
import { routes, type Route } from 'node_modules/@astrojs/starlight/utils/routing';

interface Props {
	/**
	 * Package name
	 */
	packageName: string;
	/**
	 * Slug relative to /src - e.g "/zh-cn/features"
	 *
	 * Note: leading and trailing slashes are dropped "/features/" === "features"
	 */
	slug: string;
	/**
	 *  Filter out pages by title - case insensitive
	 */
	filterOutByTitle?: string[];
	/**
	 *  Filter out pages by file name - case insensitive
	 */
	filterOutByFileName?: string[];
}

let { slug } = Astro.props;
const { filterOutByTitle = [], filterOutByFileName = [], packageName } = Astro.props;

slug = stripLeadingAndTrailingSlashes(slug.toLowerCase());

let mainList: Route[] = [];

routes.forEach((page) => {
	// `page.slug` is the slug of the current page being looped,
	// `slug` is this component prop
	if (page.slug.startsWith(slug + '/')) {
		mainList.push(page);
	}
});

/**
 * Filter items if any filter is set
 */

if (filterOutByTitle.length > 0) {
	mainList = mainList.filter(
		(page) => !filterOutByTitle.some((val) => page.entry.data.title.includes(val))
	);
}

if (filterOutByFileName.length > 0) {
	mainList = mainList.filter(
		(page) => !filterOutByFileName.some((val) => page.entry.id.includes(val))
	);
}

function sortVersions(a: Route, b: Route): number {
	return a.entry.data.title.localeCompare(b.entry.data.title);
}

mainList.sort((a, b) => sortVersions(b, a));
---

<div class="parent">
	<div class="sidenav">
		<div class="sidenav-title">
			<p>{packageName} changelogs</p>
		</div>
		<div class="sidenav-content">
			{
				mainList.map((item) => (
					<>
						<a href={`/${item.slug}`}> {item.entry.data.description}</a>
					</>
				))
			}
		</div>
	</div>
</div>
<style>
	:root {
		--sl-content-width: 45rem !important;
		--release-navbar-width: 12rem;
	}
	.parent {
		position: relative;
	}
	.sidenav-title {
		display: block;
		padding: 0.25rem;
		text-align: center;
		background-color: var(--sl-color-gray-5);
		border: 1px solid var(--sl-color-gray-6);
	}

	.sidenav {
		width: var(--release-navbar-width);
		padding: 0.75rem;
		border: 1px solid var(--sl-color-gray-5);
		font-size: var(--sl-text-xs);
		font-family: var(--__sl-font-mono);
		background-color: var(--sl-color-bg-sidebar);
		position: absolute;
		right: calc(var(--release-navbar-width) * -1.1);
		box-shadow: var(--sl-shadow-md);
	}
	.sidenav-content {
		padding-inline-start: 16px;
		min-width: fit-content;
		row-gap: 1em;
		display: flex;
		flex-direction: column;
		max-height: 85vh;
		overflow-y: auto;
		overscroll-behavior: contain;
	}
</style>
