---
import Layout from '@src/layouts/Layout.astro'
import { getDefaultLangCollection, getLocalizedEntry } from '@src/utils'

export async function getStaticPaths() {
  const collection = await getDefaultLangCollection('blog')

  return collection.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
    },
  }))
}

const { entry: englishEntry } = Astro.props

// If a localized entry doesn't exist then fall back to English
const localizedEntry = await getLocalizedEntry('blog', englishEntry)
const entry = localizedEntry || englishEntry

const { Content } = await entry.render()
---

<Layout title="test blog post">
  {
    !localizedEntry && (
      <p>
        You're reading the <strong>English</strong> version
      </p>
    )
  }
  {
    localizedEntry && (
      <p>
        You're reading the <strong>localized</strong> version
      </p>
    )
  }
  <Content />
</Layout>
