---
import Layout from '@src/layouts/Layout.astro'
import { getDefaultLangCollection } from '@src/utils'
import { t, l } from 'astro-i18n'

const entries = await getDefaultLangCollection('blog')
---

<Layout title={t('blog.title')}>
  <main>
    <h1>{t('blog.title')}</h1>
    <ul>
      {
        entries.map((entry) => (
          <li>
            <a href={l(`/blog/${entry.slug}`)}>{entry.slug}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
