---
import Layout from '@src/layouts/Layout.astro'
import { buildLocalizedStaticPaths } from '@src/utils'

export async function getStaticPaths() {
  return buildLocalizedStaticPaths()
}
---

<Layout title="About">
  <h1>About Stub</h1>
  <h2>Tbd</h2>
</Layout>
