---
import Layout from "@src/layouts/SidebarLayout.astro";
import { getDocsCollection } from "@src/utils";
import { buildSidebarObject } from "@src/components/Layout/RelatedPages.astro";

export async function getStaticPaths() {
  const collection = await getDocsCollection();

  return collection.map((entry) => ({
    params: {
      lang: entry.lang,
      slug: entry.slug === "" ? undefined : entry.slug,
    },
    props: {
      entry,
      collection,
    },
  }));
}

const { entry, collection } = Astro.props;
const { Content, headings } = await entry.render();
const entries = buildSidebarObject(collection);
---

<Layout title="test docs post" sidebarEntries={entries} headings={headings}>
  <div class="prose">
    <Content />
  </div>
</Layout>
