---
import Layout from "@src/layouts/Layout.astro";
import { t, astroI18n } from "astro-i18n";

import { buildI18nStaticRoutes } from "@src/i18n";

export async function getStaticPaths() {
  return buildI18nStaticRoutes();
}
---

<Layout title={t("docs.title")}>
  <main>
    <span class="prose">
      <h1>Docs</h1>
      <p>
        Tauri is an app construction toolkit that lets you build software for
        all major desktop operating systems using web technologies. If you can't
        find what you're looking for or have a suggestion to improve our guides,
        reach out to our <a
          href="https://discord.com/invite/tauri"
          target="_blank">community on Discord</a
        >.
      </p>
    </span>
    <h2 class="h2">Core</h2>
    <p>
      Whether you're new to Tauri development, want to integrate Tauri into an
      existing project, are ready to get your app into the hands of users, or
      want to learn how to use a common Tauri feature, we have the help for you.
    </p>
  </main>
</Layout>
