/* @import url('https://fonts.googleapis.com/css?family=Tauri&display=swap'); */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/*
Wordmark's color
#67d6ed
*/

body {
  font-family: 'Tauri';
}

body.dark {
  background-color: #181a1b;
  color: #d5d2cc;
}

body.light {
  background-color: #ffffff;
  color: #24292e;
}

body.dark .onPageNav a {
  color: #d5d2cc;
}

body.dark .onPageNav .toc-headings > li > a.active, .onPageNav .toc-headings > li > a.hover {
  color: #d5d2cc;
  text-shadow: 0 0 1px #595449;
}

body.light .onPageNav a {
  color: #24292e;
}

body.light .onPageNav .toc-headings > li > a.active, .onPageNav .toc-headings > li > a.hover {
  color: #24292e;
  text-shadow: 0 0 1px #9ea9b3;
}

body.dark code {
  background-color: rgba(213, 210, 204, 0.15);
}

body.dark .hljs, .hljs-subst {
  color: #d5d2cc;
}

body.light code {
  background-color: rgba(27, 31, 35, 0.05);
}

body.dark .container.lightBackground {
  background-color: #1b1c1d;
}

body.dark .container.darkBackground {
  background-color: #3c4043;
}

body.light .container.lightBackground {
  background-color: #f7f7f7;
}

body.light .container.darkBackground {
  background-color: #808080;
}

body.dark .toc .toggleNav .navGroup .navGroupCategoryTitle,
body.dark .toc .toggleNav ul li.navListItemActive a {
  color: #d5d2cc;
}

a,
.toc .toggleNav ul li a {
  color: #00d5ed;
}

blockquote {
  background-color: rgba(103, 214, 237, 0.3);
  border-left-color: #67d6ed;
}

body.dark blockquote {
  color: #bdbdbd;
}

body.dark .button {
  color: #d5d2cc;
  border: 1px solid;
}

body.dark .button:hover {
  background: #d5d2cc;
  color: #263239;
}


.fixedHeaderContainer {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.fixedHeaderContainer header .headerTitleWithLogo {
  display: none;
}

.fixedHeaderContainer header {
  align-items: end;
}

.fixedHeaderContainer header > a {
  display: flex;
  height: 100%;
}

.navPusher {
  padding-top: 76px;
}

.homeContainer {
  height: calc(100vh - 50px);
  background: #1d1d1d;
}

.blockElement.alignCenter.fourByGridBlock.imageAlignTop .blockImage {
  max-width: 160px;
}

.blockElement.alignCenter.fourByGridBlock.imageAlignTop img {
  height: 140px;
}

.navigationSlider {
  height: 47px;
}

.navigationSlider a {
  color: #67d6ed;
}

.projectTitle {
  color: #d5d2cc;
}

ul.roadmap {
  max-width: 960px;
  margin: auto;
  position: relative;
}

ul.roadmap::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  top: 0;
  bottom: 0;
  left: 47px;
  width: 3px;
  background-color: #ccd;
}

ul.roadmap li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.roadmap li .icon {
  height: 32px;
  width: 32px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 20px;
}

ul.roadmap li .content {
  flex: 1;
}

ul.roadmap li .content .title {
  font-weight: bold;
}

ul.roadmap li .content .description {
  font-size: .8em;
}