---
import Layout from "@src/layouts/SidebarLayout.astro";
import { langs } from "astro.i18n.config";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const collection = await getCollection("api-js");
  const mappedCollection = collection.flatMap((entry) => {
    return langs.map((lang) => ({
      params: {
        slug: entry.slug === "" ? undefined : entry.slug,
        lang: lang.route,
      },
      props: {
        entry,
        collection,
      },
    }));
  });
  return mappedCollection;
}

const { entry, collection } = Astro.props;
const { Content, headings } = await entry.render();
---

<Layout
  title="test docs post"
  sidebarEntries={collection}
  baseUrl="api/js/1"
  headings={headings}
>
  <div class="prose">
    <Content />
  </div>
</Layout>
