/*
  The default meilisearch search bar style is docs-searchbar.js/dist/cdn/docs-searchbar.min.css.
  But there are few configurations needed to make the site look better.
*/

/* Default searchbox and dropdown style */
.searchbox {
  width: 350px;
}

.meilisearch-autocomplete .dsb-dropdown-menu,
div[data-ds-theme='dark'] .meilisearch-autocomplete .dsb-dropdown-menu {
  width: 300% !important;
}

/* The subcategory text is centered vertically */
div[data-ds-theme='dark']
  .meilisearch-autocomplete
  .docs-searchbar-suggestion--wrapper {
  align-items: center !important;
}

/* Media Queries for specific width screen */
@media only screen and (max-width: 1400px) {
  .searchbox {
    width: 200px !important;
  }

  /* These badges and svg-icons are not needed on smaller screens */
  .badge,
  .svg-icons {
    display: none !important;
  }
}

@media only screen and (max-width: 995px) {
  .searchbox {
    width: 400px !important;
  }

  .meilisearch-autocomplete .dsb-dropdown-menu,
  div[data-ds-theme='dark'] .meilisearch-autocomplete .dsb-dropdown-menu {
    width: 170% !important;
  }
}

@media only screen and (max-width: 630px) {
  /* From smaller ipad screens, the text's font size needs to be smaller */
  .docs-searchbar-suggestion--subcategory-column-text {
    font-size: 18px !important;
  }

  .docs-searchbar-suggestion--title {
    font-size: 12px !important;
    margin-bottom: 0 !important;
    margin-top: 3px !important;
  }

  .meilisearch-autocomplete .dsb-dropdown-menu,
  div[data-ds-theme='dark'] .meilisearch-autocomplete .dsb-dropdown-menu {
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .searchbox {
    width: calc(100vw - 200px) !important;
  }

  .meilisearch-autocomplete .dsb-dropdown-menu,
  div[data-ds-theme='dark'] .meilisearch-autocomplete .dsb-dropdown-menu {
    min-width: 300px;
  }

  /* The texts are now in different lines (title, subcategory, text) */
  .docs-searchbar-suggestion--wrapper {
    display: block !important;
  }

  div[data-ds-theme='dark']
    .meilisearch-autocomplete
    .docs-searchbar-suggestion
    .docs-searchbar-suggestion--subcategory-column:after {
    display: none !important;
  }

  .docs-searchbar-suggestion--subcategory-column-text {
    text-decoration: underline;
  }
}

/* Footer's height should be smaller to be the same as the 'powered by' text */
.docs-searchbar-footer-logo {
  height: 15px;
}

/* navigation sidebar and backdrop's z-index should be higher than the searchbar */
.navbar-sidebar--show .navbar-sidebar {
  z-index: 999;
}

.navbar-sidebar__backdrop {
  z-index: 999;
}
