/* Prevents zooming in on mobile */
@media screen and (max-width: 996px) {
  input#search-bar-input {
    font-size: 16px !important;
  }
}

/* Main dropdown wrapper */
.meilisearch-autocomplete .dsb-dropdown-menu {
  background-color: var(--ifm-card-background-color);
  border-radius: var(--ifm-card-border-radius);
  box-shadow: var(--ifm-global-shadow-md);
  max-height: calc(100vh - var(--ifm-navbar-height));
  width: min(calc(90vw - var(--ifm-navbar-padding-horizontal)), 35rem);
  z-index: unset !important;
  right: 0;
  overflow-y: scroll;
}

/* Content */
.meilisearch-autocomplete .dsb-suggestions,
.docs-searchbar-suggestion--no-results {
  padding: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
}

/* A single suggestion */
.meilisearch-autocomplete .dsb-suggestion {
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
}

.meilisearch-autocomplete .docs-searchbar-suggestion {
  display: block;
  position: relative;
  padding: 0 8px;
  overflow: hidden;
}

.meilisearch-autocomplete .dsb-suggestion:hover,
.meilisearch-autocomplete .dsb-suggestion.dsb-cursor {
  background-color: var(--ifm-dropdown-hover-background-color);
  color: var(--ifm-dropdown-link-color);
}

.meilisearch-autocomplete .docs-searchbar-suggestion--content {
  display: block;
  width: 70%;
  position: relative;
  padding: 5.3333333333px 0 5.3333333333px 10.6666666667px;
  cursor: pointer;
}
.meilisearch-autocomplete .docs-searchbar-suggestion--content:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ddd;
  left: -1px;
}

.meilisearch-autocomplete .docs-searchbar-suggestion--wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 8px 0 0;
}

/* Main category */
.meilisearch-autocomplete .docs-searchbar-suggestion--category-header {
  display: none;
  font-size: var(--ifm-h3-font-size);
  color: var(--ifm-heading-color);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
  border-bottom: 1px solid #ddd;
}

/* Only show the first category */
.meilisearch-autocomplete
  .docs-searchbar-suggestion.docs-searchbar-suggestion__main
  .docs-searchbar-suggestion--category-header {
  display: block;
}

.meilisearch-autocomplete .docs-searchbar-suggestion--subcategory-inline {
  display: none;
}

/* Title */
.meilisearch-autocomplete .docs-searchbar-suggestion--title {
  /* font-weight: bold; */
  font-size: var(--ifm-h5-font-size);
  color: var(--ifm-font-color-base);
  font-family: var(--ifm-heading-font-family);
  font-weight: var(--ifm-heading-font-weight);
}

.meilisearch-autocomplete .docs-searchbar-suggestion--subcategory-column {
  width: 30%;
  text-align: right;
  position: relative;
  padding: 5.3333333333px 10.6666666667px;
  color: #a4a7ae;
  font-size: 0.9em;
  word-wrap: break-word;
}

/* Description */
.meilisearch-autocomplete .docs-searchbar-suggestion--text {
  font-style: italic;
  font-size: 0.85em;
  color: var(--ifm-font-color-base);
  /* Limit displayed lines of content preview to 3 */
  -webkit-line-clamp: 3;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

/* Highlighted text */
.meilisearch-autocomplete .docs-searchbar-suggestion--highlight {
  background-color: var(--ifm-code-background);
  border-radius: var(--ifm-code-border-radius);
  padding: var(--ifm-code-padding-vertical) 0;
}

/* Footer */
.meilisearch-autocomplete .docs-searchbar-footer {
  padding: var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing);
  text-align: end;
}

/* Footer's height should be smaller to be the same as the 'powered by' text */
.meilisearch-autocomplete .docs-searchbar-footer-logo {
  height: 15px;
}

[data-theme='dark'] .meilisearch-autocomplete .docs-searchbar-footer-logo {
  filter: invert();
}
