:root {
	--sl-hue-orange: 42;
	--sl-color-orange-low: hsl(var(--sl-hue-orange), 100%, 15%);
	--sl-color-orange: hsl(var(--sl-hue-orange), 100%, 60%);
	--sl-color-orange-high: hsl(var(--sl-hue-orange), 100%, 90%);
	--sl-hue-blue: 186;
	--sl-color-blue-low: hsl(var(--sl-hue-blue), 72%, 15%);
	--sl-color-blue: hsl(var(--sl-hue-blue), 72%, 50%);
	--sl-color-blue-high: hsl(var(--sl-hue-blue), 72%, 90%);
	--sl-hue-accent: var(--sl-hue-blue);
	--sl-color-accent-low: var(--sl-color-blue-low);
	--sl-color-accent: var(--sl-color-blue);
	--sl-color-accent-high: var(--sl-color-blue-high);

	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #181818;

	/* Custom */
	--tauri-transition-speed: 200ms;
}

.content details {
	padding: 0 1rem;
}

.content details[open] {
	background-color: var(--sl-color-gray-6);
	padding-bottom: rem;
}

.content summary {
	cursor: pointer;
	padding: 1rem 0;
}

/* Heading link styling */
.heading-link::after {
	content: '#';
	padding-inline-start: 0.25em;
	opacity: 0;
	transition: var(--tauri-transition-speed);
}

.heading-link:hover::after {
	color: var(--sl-color-text-accent);
	opacity: 1;
}

.heading-link {
	text-decoration: none;
	color: var(--sl-color-white) !important;
}

/* Index hero background */
.hero-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: -1;
	opacity: 0.7;
	overflow: hidden;
	background: linear-gradient(-90deg, var(--sl-color-gray-6) 1px, transparent 1px),
		linear-gradient(var(--sl-color-gray-6) 1px, transparent 1px),
		linear-gradient(-90deg, var(--sl-color-gray-6) 1px, transparent 1px),
		linear-gradient(var(--sl-color-gray-6) 1px, transparent 1px),
		linear-gradient(transparent 6px, transparent 6px, transparent 156px, transparent 156px),
		linear-gradient(-90deg, var(--sl-color-gray-6) 1px, transparent 1px),
		linear-gradient(-90deg, transparent 6px, transparent 6px, transparent 156px, transparent 156px),
		linear-gradient(var(--sl-color-gray-6) 1px, transparent 1px), transparent;
	background-size:
		32px 32px,
		32px 32px,
		256px 256px,
		256px 256px,
		256px 256px,
		256px 256px,
		256px 256px,
		256px 256px;
}

/* Transition hero background grid smoothly to page background color. */
.hero-bg::after {
	content: '';
	position: absolute;
	inset: 70% 0 0;
	background: linear-gradient(transparent, var(--sl-color-bg));
}

.hero > img {
	opacity: 0.3;
	animation: 3s intro;
}

.bg-grad {
	position: absolute;
	top: -50%;
	left: 50%;
	width: 150vh;
	height: 150vh;
	opacity: 0.3;
	background: radial-gradient(circle, var(--sl-color-accent) 0%, var(--sl-color-bg) 70%);
	animation: 6s intro;
}

.bg-grad-red {
	position: absolute;
	top: 0%;
	left: -50%;
	width: 150vh;
	height: 150vh;
	opacity: 0.3;
	background: radial-gradient(circle, var(--sl-color-orange) 0%, var(--sl-color-bg) 70%);
	animation: 14s intro;
}

@keyframes intro {
	0% {
		scale: 1.2;
		opacity: 0%;
	}

	100% {
	}
}

@media (prefers-reduced-motion) {
	* {
		transition: none !important;
	}
}
