:root {
  --sl-color-white: hsl(0, 0%, 100%);
  --sl-color-gray-1: hsl(231, 23%, 94%);
  --sl-color-gray-2: hsl(228, 8%, 77%);
  --sl-color-gray-3: hsl(221, 8%, 56%);
  --sl-color-gray-4: hsl(225, 9%, 36%);
  --sl-color-gray-5: hsl(222, 11%, 23%);
  --sl-color-gray-6: hsl(222, 13%, 16%);
  --sl-color-black: hsl(223, 13%, 10%);

  --sl-hue-orange: 41;
  --sl-color-orange-low: hsl(var(--sl-hue-orange), 39%, 22%);
  --sl-color-orange: hsl(var(--sl-hue-orange), 82%, 63%);
  --sl-color-orange-high: hsl(var(--sl-hue-orange), 82%, 87%);
  --sl-hue-green: 101;
  --sl-color-green-low: hsl(var(--sl-hue-green), 39%, 22%);
  --sl-color-green: hsl(var(--sl-hue-green), 82%, 63%);
  --sl-color-green-high: hsl(var(--sl-hue-green), 82%, 80%);
  --sl-hue-blue: 234;
  --sl-color-blue-low: hsl(var(--sl-hue-blue), 54%, 20%);
  --sl-color-blue: hsl(var(--sl-hue-blue), 100%, 60%);
  --sl-color-blue-high: hsl(var(--sl-hue-blue), 100%, 87%);
  --sl-hue-purple: 281;
  --sl-color-purple-low: hsl(var(--sl-hue-purple), 39%, 22%);
  --sl-color-purple: hsl(var(--sl-hue-purple), 82%, 63%);
  --sl-color-purple-high: hsl(var(--sl-hue-purple), 82%, 89%);
  --sl-hue-red: 339;
  --sl-color-red-low: hsl(var(--sl-hue-red), 39%, 22%);
  --sl-color-red: hsl(var(--sl-hue-red), 82%, 63%);
  --sl-color-red-high: hsl(var(--sl-hue-red), 82%, 87%);

  --sl-hue-accent: var(--sl-hue-blue);
  --sl-color-accent-low: hsl(var(--sl-hue-accent), 54%, 20%);
  --sl-color-accent: hsl(var(--sl-hue-accent), 100%, 60%);
  --sl-color-accent-high: hsl(var(--sl-hue-accent), 100%, 87%);

  --sl-color-text: var(--sl-color-gray-2);
  --sl-color-text-accent: var(--sl-color-accent-high);
  --sl-color-text-invert: var(--sl-color-accent-low);
  --sl-color-bg: var(--sl-color-black);
  --sl-color-bg-nav: var(--sl-color-gray-6);
  --sl-color-bg-sidebar: var(--sl-color-gray-6);
  --sl-color-bg-inline-code: var(--sl-color-gray-5);
  --sl-color-hairline-light: var(--sl-color-gray-5);
  --sl-color-hairline: var(--sl-color-gray-6);
  --sl-color-hairline-shade: var(--sl-color-black);

  --sl-hue-blue: 186;
  --sl-hue-orange: 42;
}

.content details {
  padding: 0 1rem;
}

.content details[open] {
  background-color: var(--sl-color-gray-6);
  padding-bottom: 1rem;

}
.content summary {
  cursor: pointer;
  padding: 1rem 0;
}