@import url('./theme.scss');
@import url('./overrides.scss');
@import url('./shared.scss');
@import url('./lp.scss');
@import url('./partners.scss');
@import url('./releases.scss');

.sl-markdown-content .inline-icon {
  display: inline-block;
}

figcaption {
  font-size: 0.9rem;
  text-align: center;
}

figure > img {
  margin-left: auto;
  margin-right: auto;
}

:root[data-theme='dark'] {
  .external-logo.light {
    display: none;
  }

  .external-logo.dark {
    display: block;
  }
}

.external-logo.dark {
  display: none;
}

.text-center {
  text-align: center;
}
