@import '@fontsource/rubik';
@import '@fontsource/ibm-plex-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Variables */
  :root {
    --color-base-100: 20 20 20;
    --color-base-200: 30 30 30;
    --color-base-300: 40 40 40;
    --color-base-content: 246 246 246;
    --color-content-hover: var(--color-base-content) / 15%;
    --color-border: 50 50 50;

    --color-primary: 36 200 219;
    --color-accent: 255 194 49;

    --color-info: 46 138 149;
    --color-success: 42 111 57;
    --color-caution: 167 130 43;
    --color-danger: 178 54 37;

    --nav-height: 80px;
    --sidebar-width: 18rem;
  }

  /***************/
  /* Base styles */
  /***************/

  html {
    @apply scroll-pt-[var(--nav-height)];
  }

  body {
    @apply text-base-content;
  }

  /* Base font sizes */
  .p {
    @apply text-base;
  }
  .h1 {
    @apply text-4xl font-medium;
  }
  .h2 {
    @apply text-3xl;
  }
  .h3 {
    @apply text-2xl font-medium;
  }
  .h4 {
    @apply text-2xl;
  }
  .h5 {
    @apply text-xl font-medium;
  }
  .h6 {
    @apply font-medium;
  }

  th,
  td {
    @apply p-2 border-2 border-border;
  }

  tr {
    @apply transition;
  }
  th,
  tr:nth-child(even) {
    @apply bg-border/25;
  }
  tr {
    @apply hover:bg-border/50;
  }

  figcaption {
    @apply pt-4;
  }

  hr {
    @apply text-border border-t-2;
  }

  code {
    @apply text-base;
  }
}

@layer components {
  /***********/
  /* Buttons */
  /***********/
  /* .btn: Base button style */
  /* .btn-inline: Modifier, makes the button full width */
  /* .btn-hover: Modifier, style for hover state */
  /* .btn-active: Modifier,  style for when the element is being interacted with */

  .btn {
    /* min-w-[48px] is used to ensure that small icons are square */
    @apply text-base-content p-3 rounded h-12 min-w-[48px] transition inline-block text-center cursor-pointer;
  }
  .btn * {
    @apply inline-block;
  }

  /* Modifiers */
  .btn-inline {
    @apply w-full;
  }

  .btn-hover {
    @apply bg-content-hover no-underline;
  }

  .btn-active {
    @apply text-primary bg-content-hover;
  }

  /* States */
  .btn:active {
    @apply btn-active;
  }

  .btn:hover,
  .btn:focus,
  .btn:focus-within {
    @apply btn-hover;
  }

  /**********/
  /* Inputs */
  /**********/
  .input-text {
    @apply p-3 rounded min-h-[3rem] transition bg-base-200;
  }
  .input-hover {
    @apply bg-content-hover;
  }
  .input-text:hover {
    @apply input-hover;
  }

  /********/
  /* Card */
  /********/
  .card {
    @apply bg-base-content/5 rounded-lg transition p-4 w-full;
  }
  .card:hover {
    @apply bg-base-content/10;
  }
  .card * {
    @apply text-base-content;
  }
  .card:hover * {
    @apply text-primary;
  }

  /*********/
  /* Lists */
  /*********/
  .list-base {
    @apply w-full my-2 relative;
  }
  .list-base,
  .list-base * {
    @apply inline-block;
  }
  .list-heading {
    @apply list-base small-caps;
  }
  .list-item {
    @apply list-base before:absolute before:inset-y-0 before:-left-2 before:transition before:border-l-2 before:border-transparent  before:rounded;
  }

  .list-item-hover {
    @apply before:border-accent;
  }

  .list-item:hover {
    @apply list-item-hover;
  }
}

@layer utilities {
  .small-caps {
    @apply uppercase font-bold text-xs text-base-content/75;
  }

  .prose p {
    @apply p;
  }

  .prose h1 {
    @apply h1;
  }

  .prose h2 {
    @apply h2;
  }

  .prose h3 {
    @apply h3;
  }

  .prose h4 {
    @apply h4;
  }

  .prose h5 {
    @apply h5;
  }

  .prose h6 {
    @apply h6;
  }

  .prose p,
  .prose ul,
  .prose ol,
  .prose blockquote,
  .prose h1,
  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply mb-4;
  }

  .prose h2,
  .prose h3,
  .prose h4,
  .prose h5,
  .prose h6 {
    @apply pt-4;
  }

  .prose a {
    @apply transition text-primary underline decoration-transparent hover:decoration-primary;
  }

  .prose figcaption {
    @apply italic;
  }

  .prose img {
    @apply px-8 mx-auto;
  }

  /* .prose table {
    @apply block overflow-x-auto whitespace-nowrap;
  } */

  .prose *:not(pre) code {
    @apply bg-base-content/5 rounded px-1 py-[2px];
  }

  .prose ul,
  .prose ol {
    @apply list-inside;
  }

  .prose ul {
    @apply list-disc;
  }

  .prose ol {
    @apply list-decimal;
  }

  .prose blockquote {
    @apply border-l-2 border-l-border pl-4;
  }

  .light-mode-only {
    @apply hidden;
  }

  /* Used for nicer scrollbars in flexbox items */
  .styled-scrollbar {
    scrollbar-color: rgb(var(--color-content-hover)) transparent;
  }
  .styled-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .styled-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(var(--color-content-hover));
    border-radius: 10px;
  }
  .styled-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
}
