@import '@fontsource/rubik';
@import '@fontsource/ibm-plex-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Variables */
  :root {
    --color-base-100: 20 20 20;
    --color-base-200: 30 30 30;
    --color-base-300: 40 40 40;
    --color-base-content: 246 246 246;
    --color-content-background: var(--color-base-content) / 15%;

    --color-primary: 36 200 219;

    --color-info: 46 138 149;
    --color-success: 42 111 57;
    --color-caution: 167 130 43;
    --color-danger: 178 54 37;
  }

  /***************/
  /* Base styles */
  /***************/

  body {
    @apply text-base-content;
  }

  a {
    @apply text-primary;
  }

  a:hover {
    @apply underline;
  }

  :not(pre) > code {
    @apply bg-content-background py-1 px-1 rounded;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply mt-6 mb-2;
  }

  h1 {
    @apply font-semibold text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply font-semibold text-2xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply font-semibold text-xl;
  }
  h6 {
    @apply font-semibold;
  }
}

@layer components {
  /***********/
  /* Buttons */
  /***********/
  .btn {
    /* min-w-[48px] is used to ensure that small icons are square */
    @apply text-base-content p-3 rounded h-12 min-w-[48px] transition inline-block text-center cursor-pointer;
  }
  .btn > * {
    @apply inline-block;
  }
  .btn-inline {
    @apply w-full;
  }
  .btn-hover {
    @apply bg-base-content/10 no-underline;
  }
  .btn:hover,
  .btn:focus,
  .btn:focus-within {
    @apply btn-hover;
  }
  .btn-active {
    @apply text-primary bg-base-content/10;
  }
  .btn:active {
    @apply btn-active;
  }
  .btn-selected {
    @apply text-primary;
  }

  /**********/
  /* Inputs */
  /**********/
  .input-text {
    @apply p-3 rounded h-12 transition bg-base-200;
  }
  .input-hover {
    @apply bg-base-content/10;
  }
  .input-text:hover {
    @apply input-hover;
  }
}

@layer utilities {
  .small-caps {
    @apply uppercase font-bold text-xs;
  }

  /********/
  /* Menu */
  /********/
  /* .menu: Should be applied to the ul */
  /* .menu-horizontal: Modifier, should be sibling to .menu */
  /* .menu-hover: Modifier, enable submenus on hover */
  /* .menu-inline: Modifier, style any submenus to be inline */

  /* Basic styling */
  .menu {
    @apply flex flex-col;
  }

  .menu.menu-horizontal {
    @apply flex-row;
  }

  /* Menu items */
  .menu > li > *:not(ul),
  .menu > li > ul > li > *:not(ul) {
    @apply btn btn-inline text-left;
  }
  .menu > li > ul {
    @apply bg-base-200 hidden absolute z-nav-dropdown;
  }

  /* Inline styling */
  .menu.menu-inline > li > *:not(ul),
  .menu.menu-inline > li > ul > li > *:not(ul) {
    /* @apply rounded-none; */
  }
  .menu.menu-inline:first-child {
    /* @apply rounded; */
  }

  /* States */
  .menu.menu-hover > li:hover > ul,
  .menu > li:focus > ul,
  .menu > li:focus-within > ul {
    @apply block;
  }
  .menu.menu-inline > li:focus > ul,
  .menu.menu-inline > li:focus-within > ul {
    @apply static;
  }
}
