@import '@fontsource/rubik';
@import '@fontsource/ibm-plex-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Variables */
  :root {
    --color-base-100: 20 20 20;
    --color-base-200: 30 30 30;
    --color-base-300: 40 40 40;
    --color-base-content: 246 246 246;
    --color-content-background: var(--color-base-content) / 15%;

    --color-primary: 36 200 219;

    --color-info: 46 138 149;
    --color-success: 42 111 57;
    --color-caution: 167 130 43;
    --color-danger: 178 54 37;
  }

  /***************/
  /* Base styles */
  /***************/

  body {
    @apply text-base-content;
  }

  a {
    @apply text-primary;
  }

  a:hover {
    @apply underline;
  }

  :not(pre) > code {
    @apply bg-content-background py-1 px-1 rounded;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply mt-6 mb-2;
  }

  h1 {
    @apply font-semibold text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply font-semibold text-2xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply font-semibold text-xl;
  }
  h6 {
    @apply font-semibold;
  }
}

@layer components {
  /***********/
  /* Buttons */
  /***********/
  .btn {
    /* min-w-[48px] is used to ensure that small icons are square */
    @apply text-base-content p-3 rounded h-12 min-w-[48px] transition inline-block text-center cursor-pointer;
  }
  .btn > * {
    @apply inline-block;
  }
  .btn-hover {
    @apply bg-base-content/10 no-underline;
  }
  .btn:hover {
    @apply btn-hover;
  }
  .btn-active {
    @apply text-primary bg-base-content/10;
  }
  .btn:active {
    @apply btn-active;
  }
  .btn-selected {
    @apply text-primary;
  }

  /************/
  /* Dropdown */
  /************/

  /* .dropdown: Container that has a checkbox to toggle (usually via a label) as well as .dropdown-content  */
  /* .dropdown-content: Content that should be shown and hidden */
  /* .dropdown-hover: Modifier to enable dropdown on hover */
  /* .dropdown-inline: Modifier to shift page content on expansion */

  /* Base styling */
  .dropdown > input {
    @apply hidden;
  }
  .dropdown > .dropdown-content {
    @apply hidden bg-base-200 rounded;
  }

  .dropdown:not(.dropdown-inline) > .dropdown-content {
    @apply absolute;
  }

  /* Utility class */
  .dropdown-content-expanded {
    @apply block;
  }

  /* States */
  .dropdown > input:checked ~ .dropdown-content,
  .dropdown.dropdown-hover:hover > .dropdown-content {
    @apply dropdown-content-expanded;
  }

  /**********/
  /* Inputs */
  /**********/
  .input-text {
    @apply p-3 rounded h-12 transition bg-base-200;
  }
  .input-hover {
    @apply bg-base-content/10;
  }
  .input-text:hover {
    @apply input-hover;
  }
}

@layer utilities {
  .small-caps {
    @apply uppercase font-bold text-xs;
  }
  .menu {
    @apply flex flex-col;
  }
  .menu > li > * {
    @apply w-full text-left;
  }
}
