@import '@fontsource/rubik';
@import '@fontsource/ibm-plex-mono';

@tailwind base;
@tailwind components;

@layer base {
  /* Variables */
  :root {
    --color-base-100: 20 20 20;
    --color-base-200: 30 30 30;
    --color-base-300: 40 40 40;
    --color-base-content: 246 246 246;
    --color-content-background: var(--color-base-content) / 15%;

    --color-primary: 36 200 219;
  }

  body {
    @apply text-base-content;
  }

  a {
    @apply text-primary;
  }

  a:hover {
    @apply underline;
  }

  :not(pre) > code {
    @apply bg-content-background py-1 px-1 rounded;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply mt-6 mb-2;
  }

  /* Headings */
  h1 {
    @apply font-semibold text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply font-semibold text-2xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply font-semibold text-xl;
  }
  h6 {
    @apply font-semibold;
  }
}

@layer components {
  /* Buttons */
  .btn {
    /* min-w-[48] is used to ensure that small icons are square */
    @apply text-base-content p-3 rounded h-12 min-w-[48px] transition inline-block text-center;
  }
  .btn > * {
    @apply inline-block;
  }
  .btn-hover {
    @apply bg-base-content/10 no-underline;
  }
  .btn:hover {
    @apply btn-hover;
  }
  .btn-active {
    @apply text-primary bg-base-content/10;
  }
  .btn:active {
    @apply btn-active;
  }
  .btn-selected {
    @apply text-primary;
  }

  /* Dropdown Content */
  .dropdown-content {
    @apply hidden absolute;
  }
  *:hover > .dropdown-content {
    @apply block bg-base-200;
  }

  /* Inputs */
  .input-text {
    @apply p-3 rounded h-12 transition bg-base-200;
  }
  .input-hover {
    @apply bg-base-content/10;
  }
  .input-text:hover {
    @apply input-hover;
  }
}

/* TODO: How this is handled doesn't reflect how daisyUI handles it, also doesn't support a future toggle */

@media (prefers-color-scheme: dark) {
  .light-mode-only {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .dark-mode-only {
    display: none;
  }
}
