@import url('bootstrap-icons');
@import '@fontsource/rubik';
@import '@fontsource/ibm-plex-mono';

@tailwind base;
@tailwind components;

@layer base {
  :root {
    --color-base-100: 20 20 20;
    --color-base-200: 30 30 30;
    --color-base-300: 40 40 40;
    --color-base-content: 246 246 246;

    --color-border: var(--color-base-content) / 25%;
  }
}

@layer components {
  .input-text {
    @apply bg-base-200 rounded;
  }
}

/* TODO: How this is handled doesn't reflect how daisyUI handles it, also doesn't support a future toggle */

@media (prefers-color-scheme: dark) {
  .light-mode-only {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  .dark-mode-only {
    display: none;
  }
}

/* Resizes icons in buttons to fit nicely */
button > * > i {
  font-size: 1.5em;
}
