.starlight-aside {
  border-radius: 0.5rem;
}

.sl-markdown-content code:not(:where(.not-content *)) {
  border-radius: 4px;
}

.sl-markdown-content a:not(:where(.not-content *), .heading-link) {
  text-decoration: none;
}
.sl-markdown-content a:hover:not(:where(.not-content *), .heading-link) {
  color: var(--sl-color-text-accent);
  text-decoration: underline;
}

.sl-link-card {
  box-shadow: none;
}
.sl-link-card:hover {
  border-color: var(--sl-color-text-accent);
  background-color: unset;
}
.sl-link-card:hover a {
  text-decoration: none;
}
.sl-link-card:hover,
.sl-link-card:hover svg,
.sl-link-card:hover a > span {
  color: var(--sl-color-text-accent);
}

footer .pagination-links > a {
  font-size: 0.9rem;
  box-shadow: none;
}
footer .pagination-links > a svg {
  font-size: 1.2rem;
}

footer .pagination-links > a:hover {
  border-color: var(--sl-color-text-accent);
}
footer .pagination-links > a:hover,
footer .pagination-links > a:hover .link-title {
  color: var(--sl-color-text-accent);
}
