:root {
  --tauri-transition-speed: 200ms;
}

:root[data-theme='dark'] {
  --sl-hue-orange: 35;
  --sl-color-orange-low: hsl(var(--sl-hue-orange), 100%, 15%);
  --sl-color-orange: #ffc131;
  --sl-color-orange-high: hsl(var(--sl-hue-orange), 100%, 90%);
  --sl-hue-blue: 187;
  --sl-color-blue-low: hsl(var(--sl-hue-blue), 71%, 15%);
  --sl-color-blue: #24c8db;
  --sl-color-blue-high: hsl(var(--sl-hue-blue), 71%, 90%);
  --sl-hue-accent: var(--sl-hue-blue);
  --sl-color-accent-low: var(--sl-color-blue-low);
  --sl-color-accent: var(--sl-color-blue);
  --sl-color-accent-high: var(--sl-color-blue-high);

  --sl-color-white: hsl(0, 0%, 100%);
  --sl-color-gray-1: hsl(0, 0%, 93%);
  --sl-color-gray-2: hsl(0, 0%, 83%);
  --sl-color-gray-3: hsl(0, 0%, 75%);
  --sl-color-gray-4: hsl(0, 0%, 35%);
  --sl-color-gray-5: hsl(0, 0%, 22%);
  --sl-color-gray-6: hsl(0, 0%, 15%);
  --sl-color-black: hsl(0, 0%, 10%);
}

:root[data-theme='light'] {
  // --tauri-blue: oklch(76.61% 0.12577 206.774);
  // Using a hue that's as close to the tauri blue as possible,
  // while targeting a chroma of 0.15 with a 50% lightness
  --sl-color-accent-low: oklch(40% 0.12 253);
  --sl-color-accent: oklch(50% 0.15 253);
  --sl-color-accent-high: oklch(70% 0.15 253);

  --sl-color-gray-2: hsl(224, 14%, 16%);

  // Starlight defaults
  // --sl-color-white: hsl(224, 10%, 10%);
  // --sl-color-gray-1: hsl(224, 14%, 16%);
  // --sl-color-gray-2: hsl(224, 10%, 23%);
  // --sl-color-gray-3: hsl(224, 7%, 36%);
  // --sl-color-gray-4: hsl(224, 6%, 56%);
  // --sl-color-gray-5: hsl(224, 6%, 77%);
  // --sl-color-gray-6: hsl(224, 20%, 94%);
  // --sl-color-gray-7: hsl(224, 19%, 97%);
  // --sl-color-black: hsl(0, 0%, 100%);
}
