---
interface Props {
  items: string[]
}

const { items } = Astro.props
---

<div>
  <ul class="flex gap-2">
    {
      items.map((item) => (
        <>
          <li class="small-caps">{item}</li>
          <li class="small-caps">&gt;</li>
        </>
      ))
    }
  </ul>
</div>
