---
const year = new Date().getFullYear()
---

<footer>
  <p>Footer</p>
  <ul>
    <li>Blog</li>
    <li>Email</li>
    <li>OpenCollective</li>
    <li>Awesome Tauri</li>
  </ul>
  <p>Copyright &copy; {year} Tauri Contributors. CC-BY / MIT</p>
</footer>
