---
import { l, t } from 'astro-i18n'
import NavBarSocial from './NavBarSocial.astro'
const year = new Date().getFullYear()
---

<style>
  ul li {
    @apply py-1;
  }
</style>

<footer class="py-4 flex flex-col gap-8">
  <hr />
  <div class="grid lg:grid-cols-3 gap-8">
    <div class="flex flex-col gap-6">
      <div>
        <a href={l('/')}>
          <img src="/meta/tauri_logo_dark.svg" alt="Tauri logo" class="h-10" />
        </a>
      </div>

      <div class="-ml-3">
        <ul class="menu menu-horizontal">
          <NavBarSocial />
        </ul>
      </div>
    </div>

    <ul>
      <li>
        <a href={l('/docs/core/1')} class="text-base-content"
          >{t('global.nav.docs')}</a
        >
      </li>
      <li>
        <a href={l('/api')} class="text-base-content"
          >{t('global.nav.references')}</a
        >
      </li>
      <li>
        <a href={l('/about')} class="text-base-content"
          >{t('global.nav.about')}</a
        >
      </li>
      <li>
        <a href={l('/blog')} class="text-base-content">{t('global.nav.blog')}</a
        >
      </li>
    </ul>

    <ul>
      <li>
        <a href="mailto:contact@tauri.app" class="text-base-content"
          >{t('global.nav.email')}</a
        >
      </li>
      <li>
        <a
          href="https://opencollective.com/tauri"
          target="_blank"
          class="text-base-content">{t('global.nav.open-collective')}</a
        >
      </li>
      <li>
        <a
          href="https://github.com/tauri-apps/awesome-tauri"
          target="_blank"
          class="text-base-content">{t('global.nav.awesome-tauri')}</a
        >
      </li>
    </ul>
  </div>
  <div>
    {t('global.footer-copyright', { year: String(year) })}
  </div>
</footer>
