---
const year = new Date().getFullYear()
---

<footer class="footer">
  <div>
    <p>Tauri Logo</p>
    <div>Social links</div>
    <p>Copyright &copy; {year} Tauri Contributors. CC-BY / MIT</p>
  </div>

  <div>
    <span class="footer-title">Links</span>
    <ul>
      <li>Blog</li>
      <li>Email</li>
      <li>OpenCollective</li>
      <li>Awesome Tauri</li>
    </ul>
  </div>
</footer>
