---
import type { SidebarItem } from '../../types'

interface Props {
  sidebarItems: SidebarItem[]
  currentPageId: string
}

const { sidebarItems, currentPageId } = Astro.props
---

<aside>
  {
    sidebarItems && (
      <>
        <p>Related Pages</p>
        <p>{currentPageId}</p>
        <ul>
          {sidebarItems.map((item) => (
            <li>
              <a href={item.id}>{item.title}</a>
            </li>
          ))}
        </ul>
      </>
    )
  }
</aside>
