---
import type { CollectionEntry } from 'astro:content'

interface Props {
  // Need a way to make this generic
  // @ts-ignore
  entries: CollectionEntry[]
}

// TODO: Need to pull the H1 (or maybe title) from each page
const { entries } = Astro.props
---

<aside>
  <div class="small-caps">Related Pages</div>
  <ul>
    {entries.map((entry) => <li>{entry.slug}</li>)}
  </ul>
</aside>
