---
import IconGithub from '~icons/bi/github'
import IconTwitter from '~icons/bi/twitter'
import IconDiscord from '~icons/bi/discord'
import IconMastodon from '~icons/bi/mastodon'
---

<li tabindex="0">
  <a href="https://github.com/tauri-apps/tauri" target="_blank" class="btn">
    <IconGithub />
  </a>
</li>
<li tabindex="0">
  <a href="https://discord.com/invite/tauri" target="_blank" class="btn">
    <IconDiscord />
  </a>
</li>
<li tabindex="0">
  <a href="https://twitter.com/TauriApps" target="_blank" class="btn">
    <IconTwitter />
  </a>
</li>
<li tabindex="0">
  <a href="https://fosstodon.org/@TauriApps" target="_blank" class="btn">
    <IconMastodon />
  </a>
</li>
