---
import IconCaret from '~icons/bi/caret-down-fill'
import IconTranslate from '~icons/bi/translate'
import IconCircleHalf from '~icons/bi/circle-half'
import IconMoonStarsFill from '~icons/bi/moon-stars-fill'
import IconBrightnessHighFill from '~icons/bi/brightness-high-fill'

export interface Props {
  mobile: boolean
}

const { mobile } = Astro.props
---

<li class="dropdown z-nav-dropdown" tabindex="0">
  {mobile && <input type="checkbox" id="nav-dropdown-locale" />}

  <label class="btn" for="nav-dropdown-locale">
    <IconTranslate />
    <IconCaret class="text-xs" />
  </label>
  <ul class="dropdown-content absolute">
    <li class="btn">English</li>
    <li class="btn">Chinese</li>
  </ul>
</li>
<li class="dropdown z-nav-dropdown" tabindex="0">
  {mobile && <input type="checkbox" id="nav-dropdown-theme" />}
  <label class="btn" for="nav-dropdown-theme">
    <IconCircleHalf />
    <IconCaret class="text-xs" />
  </label>
  <ul class="dropdown-content absolute">
    <li class="btn">
      <IconCircleHalf />
      Auto
    </li>
    <li class="btn">
      <IconMoonStarsFill />
      Dark
    </li>
    <li class="btn">
      <IconBrightnessHighFill />
      Light
    </li>
  </ul>
</li>
