---
import Search from './Search.astro'
---

<nav>
  <a href={Astro.url.origin}>Tauri Logo</a>
  <ul>
    <li><a href="./docs">Docs</a></li>
    <li><a href="./api">References</a></li>
    <li><a href="./about">About</a></li>
  </ul>
  <ul>
    <li>
      <a href="https://github.com/tauri-apps/tauri" target="_blank">GitHub</a>
    </li>
    <li>
      <a href="https://discord.com/invite/tauri" target="_blank">Discord</a>
    </li>
    <li><a href="https://twitter.com/TauriApps" target="_blank">Twitter</a></li>
    <li>
      <a href="https://fosstodon.org/@TauriApps" target="_blank">Mastodon</a>
    </li>
  </ul>
  <Search />
</nav>
