---
import IconGithub from '~icons/bi/github'
import IconTwitter from '~icons/bi/twitter'
import IconDiscord from '~icons/bi/discord'
import IconMastodon from '~icons/bi/mastodon'
---

<li>
  <a
    href="https://github.com/tauri-apps/tauri"
    target="_blank"
    aria-label="GitHub"
    class="btn"
  >
    <IconGithub />
  </a>
</li>
<li>
  <a
    href="https://discord.com/invite/tauri"
    target="_blank"
    aria-label="Discord"
    class="btn"
  >
    <IconDiscord />
  </a>
</li>
<li>
  <a
    href="https://twitter.com/TauriApps"
    target="_blank"
    aria-label="Twitter"
    class="btn"
  >
    <IconTwitter />
  </a>
</li>
<li>
  <a
    href="https://fosstodon.org/@TauriApps"
    target="_blank"
    aria-label="Mastodon"
    class="btn"
  >
    <IconMastodon />
  </a>
</li>
