---
import Search from './Search.astro'
---

<nav class="bg-base-100 sticky top-0 py-4 px-8 flex justify-between">
  <ul class="flex gap-8">
    <a href={Astro.url.origin}>
      <!-- <img
        src="/meta/tauri_logo_light.svg"
        alt="Tauri logo"
        class="h-10 light-mode-only"
      /> -->
      <img
        src="/meta/tauri_logo_dark.svg"
        alt="Tauri logo"
        class="h-10 dark-mode-only"
      />
    </a>
    <li>Docs</li>
    <li>
      References
      <!-- <ul>
        <li>Tauri Config</li>
        <li>JavaScript API</li>
        <li>Rust API</li>
        <li>Tauri CLI</li>
      </ul> -->
    </li>
    <li>About</li>
    <!-- <ul class="menu menu-horizontal px-1">
      <li><a href="/docs/core/1">Docs</a></li>
      <li>
        <a>
          References
          <i class="bi bi-caret-down-fill"></i>
        </a>
        <ul class="bg-base-200 p-2">
          <li class="menu-title uppercase">
            <span>Tauri Core</span>
          </li>
          <li><a href="/api/core-config/1">Tauri Configuration</a></li>
          <li>
            <a href="./api">
              Rust API (via Docs.rs)
              <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </li>
          <li><a href="/api/core-js/1">JavaScript API</a></li>

          <li><a href="/api/core-cli/1">Tauri CLI</a></li>
        </ul>
      </li>
      <li><a href="./about">About</a></li>
    </ul> -->
  </ul>
  <ul class="flex gap-4">
    <li>
      <button>
        <a href="https://github.com/tauri-apps/tauri" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </button>
    </li>
    <li>
      <button>
        <a href="https://discord.com/invite/tauri" target="_blank">
          <i class="bi bi-discord"></i>
        </a>
      </button>
    </li>
    <li>
      <button>
        <a href="https://twitter.com/TauriApps" target="_blank">
          <i class="bi bi-twitter"></i>
        </a>
      </button>
    </li>
    <li>
      <button>
        <a href="https://fosstodon.org/@TauriApps" target="_blank">
          <i class="bi bi-mastodon"></i>
        </a>
      </button>
    </li>
    <li></li>
    <li>
      <button>
        <a href="https://fosstodon.org/@TauriApps" target="_blank">
          <i class="bi bi-translate"></i>
          <i class="bi bi-caret-down-fill"></i>
        </a>
      </button>
    </li>
    <li>
      <button>
        <a href="https://fosstodon.org/@TauriApps" target="_blank">
          <i class="bi bi-circle-half"></i>
          <i class="bi bi-caret-down-fill"></i>
        </a>
      </button>
    </li>
    <li>
      <Search />
    </li>
    <!-- <li>
      <button class="btn btn-ghost">
        <a>
          <i class="bi bi-translate"></i>
          <i class="bi bi-caret-down-fill"></i>
        </a>
      </button>
      <ul class="bg-base-200 p-2">
        <li><a>🇺🇸 English</a></li>
        <li><a>🇮🇹 Italian</a></li>
        <li><a>🇨🇳 Chinese (Simplified)</a></li>
        <li><a>🇰🇷 Korean</a></li>
      </ul>
    </li> -->
  </ul>
</nav>
