---
import IconList from '~icons/bi/list'
import IconClose from '~icons/bi/x-lg'
import NavBarLinks from './NavBarLinks.astro'
import NavBarLocaleTheme from './NavBarLocaleTheme.astro'
import Social from './NavBarSocial.astro'
import Search from './NavBarSearch.astro'
import { l, t } from 'astro-i18n'
---

<style>
  .nav-drawer > input,
  .nav-drawer > input:checked ~ * .icon-closed,
  .nav-drawer > input:not(:checked) ~ * .icon-open {
    @apply hidden;
  }
  .nav-drawer > input:not(:checked) ~ .content,
  .nav-drawer > input:not(:checked) ~ * .content {
    /* Will only hide when on smaller screen sizes */
    @apply max-lg:hidden;
  }

  .nav-drawer:has(input:checked) {
    /* Will only take up the full screen height when on smaller screen sizes */
    @apply flex max-lg:h-screen;
  }
</style>

<nav class="bg-base-100 sticky top-0 py-4 px-8 z-nav">
  <ul class="nav-drawer flex flex-col lg:flex-row">
    <input type="checkbox" id="nav-drawer" />
    <li class="flex justify-between order-1">
      <a class="pr-8" href={l('/')}>
        <img
          src="/meta/tauri_logo_dark.svg"
          alt={t('global.tauri-logo')}
          class="h-10"
        />
      </a>
      <div class="flex">
        <ul class="content lg:hidden">
          <NavBarLocaleTheme />
        </ul>
        <label
          for="nav-drawer"
          class="lg:hidden icon-closed btn"
          tabindex="0"
          aria-label={t('global.nav.open-navigation')}
        >
          <IconList />
        </label>
        <label
          for="nav-drawer"
          class="lg:hidden icon-open btn"
          tabindex="0"
          aria-label={t('global.nav.close-navigation')}
        >
          <IconClose />
        </label>
      </div>
    </li>
    <li class="content order-3">
      <ul class="hidden lg:flex">
        <NavBarLinks />
      </ul>
      <ul class="flex lg:hidden flex-col">
        <NavBarLinks inlineMenu={true} />
      </ul>
    </li>
    <li class="content order-3 lg:grow"></li>
    <li class="content order-3">
      <ul class="flex">
        <Social />
      </ul>
    </li>
    <li class="content order-3 border-x border-border rounded m-2"></li>
    <li class="content order-3">
      <ul class="hidden lg:flex"><NavBarLocaleTheme /></ul>
    </li>
    <!-- TODO: Align center vertically -->
    <!-- TODO: Should adjust based on available size, not screen size -->
    <li class="content order-2 lg:order-3"><Search /></li>
  </ul>
</nav>
