---
import IconList from '~icons/bi/list'
import IconClose from '~icons/bi/x-lg'
import NavBarLinks from './NavBarLinks.astro'
import NavBarLocaleTheme from './NavBarLocaleTheme.astro'
import Social from './NavBarSocial.astro'
import Search from './NavBarSearch.astro'
import { l, t } from 'astro-i18n'
---

<style>
  .nav-drawer > input:checked ~ * .icon-closed,
  .nav-drawer > input:not(:checked) ~ * .icon-open {
    @apply hidden;
  }
  .nav-drawer > input:not(:checked) ~ .content,
  .nav-drawer > input:not(:checked) ~ * .content {
    /* Will only hide when on smaller screen sizes */
    @apply max-lg:hidden;
  }
</style>

<nav class="bg-base-100 sticky top-0 py-4 px-8 z-nav nav-drawer">
  <input type="checkbox" id="nav-drawer" class="hidden" />
  <ul class="flex items-center">
    <li class="shrink-0">
      <a href={l('/')}>
        <img
          src="/meta/tauri_logo_dark.svg"
          alt={t('global.tauri-logo')}
          class="h-10 pr-8"
        />
      </a>
    </li>
    <li>
      <ul class="hidden lg:flex">
        <NavBarLinks />
      </ul>
    </li>
    <li class="grow"></li>
    <li>
      <ul class="hidden lg:flex">
        <Social />
      </ul>
    </li>
    <li class="max-lg:hidden border-x border-border rounded m-2 h-8"></li>
    <li class="content shrink-0">
      <ul>
        <NavBarLocaleTheme />
      </ul>
    </li>
    <li class="pl-4">
      <Search />
    </li>
    <li>
      <label
        for="nav-drawer"
        class="lg:hidden icon-closed btn"
        tabindex="0"
        aria-label={t('global.nav.open-navigation')}
      >
        <IconList />
      </label>
    </li>
    <li>
      <label
        for="nav-drawer"
        class="lg:hidden icon-open btn"
        tabindex="0"
        aria-label={t('global.nav.close-navigation')}
      >
        <IconClose />
      </label>
    </li>
  </ul>
  <ul class="lg:hidden content h-screen">
    <NavBarLinks inlineMenu={true} />
    <li></li>
    <li>
      <ul class="flex">
        <Social />
      </ul>
    </li>
  </ul>
</nav>
