---
import Search from './Search.astro'
import IconCaret from '~icons/bi/caret-down-fill'
import IconTranslate from '~icons/bi/translate'
import IconCircleHalf from '~icons/bi/circle-half'
import IconGithub from '~icons/bi/github'
import IconTwitter from '~icons/bi/twitter'
import IconDiscord from '~icons/bi/discord'
import IconMastodon from '~icons/bi/mastodon'
import IconList from '~icons/bi/list'
---

<style>
  /* Hide submenus by default */
  li ul {
    @apply hidden absolute;
  }

  /* Show submenus */
  li:hover ul {
    @apply block bg-base-200;
  }
</style>

<nav class="bg-base-100 sticky top-0 py-4 px-8 flex justify-between">
  <div class="flex gap-8 items-center">
    <a href={Astro.url.origin}>
      <!-- <img
        src="/meta/tauri_logo_light.svg" 
        alt="Tauri logo"
        class="h-10 light-mode-only"
      /> -->
      <img
        src="/meta/tauri_logo_dark.svg"
        alt="Tauri logo"
        class="h-10 dark-mode-only"
      />
    </a>
    <ul class="hidden lg:flex">
      <li><a href="/docs/core/1" class="btn">Docs</a></li>
      <li>
        <a class="btn" href="#">
          References
          <IconCaret class="text-xs" />
        </a>
        <ul>
          <li><a class="btn" href="#">Tauri Config</a></li>
          <li><a class="btn" href="#">JavaScript API</a></li>
          <li><a class="btn" href="#">Rust API</a></li>
          <li><a class="btn" href="#">Tauri CLI</a></li>
        </ul>
      </li>
      <li><a href="/about" class="btn">About</a></li>
    </ul>
  </div>
  <!-- Desktop trailing -->
  <ul class="hidden lg:flex">
    <li>
      <a href="https://github.com/tauri-apps/tauri" target="_blank" class="btn">
        <IconGithub />
      </a>
    </li>
    <li>
      <a href="https://discord.com/invite/tauri" target="_blank" class="btn">
        <IconDiscord />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/TauriApps" target="_blank" class="btn">
        <IconTwitter />
      </a>
    </li>
    <li>
      <a href="https://fosstodon.org/@TauriApps" target="_blank" class="btn">
        <IconMastodon />
      </a>
    </li>
    <li class="border-x border-border rounded m-2"></li>
    <li>
      <button class="btn">
        <IconTranslate />
        <IconCaret class="text-xs" />
      </button>
      <ul>
        <li><a class="btn" href="#">English</a></li>
      </ul>
    </li>
    <li>
      <button class="btn">
        <IconCircleHalf />
        <IconCaret class="text-xs" />
      </button>
      <ul>
        <li><a class="btn" href="#">Auto</a></li>
        <li><a class="btn" href="#">Dark</a></li>
        <li><a class="btn" href="#">Light</a></li>
      </ul>
    </li>
    <li class="pl-2">
      <Search />
    </li>
  </ul>
  <!-- Mobile Trailing -->
  <ul class="lg:hidden">
    <button class="btn">
      <IconList />
    </button>
  </ul>
</nav>
