---
import IconCaret from '~icons/bi/caret-down-fill'
import IconTranslate from '~icons/bi/translate'
import IconCircleHalf from '~icons/bi/circle-half'
import IconList from '~icons/bi/list'

import NavBarLinks from './NavBarLinks.astro'
import Social from './NavBarSocial.astro'
import Search from './NavBarSearch.astro'
---

<nav class="bg-base-100 sticky top-0 py-4 px-8">
  <!-- Desktop -->
  <ul class="hidden lg:flex justify-between">
    <li class="flex items-center">
      <a class="pr-8" href={Astro.url.origin}>
        <img src="/meta/tauri_logo_dark.svg" alt="Tauri logo" class="h-10" />
      </a>
      <ul class="flex">
        <NavBarLinks />
      </ul>
    </li>
    <li>
      <ul class="flex">
        <Social />
        <li class="border-x border-content-background rounded m-2"></li>
        <li>
          <button class="btn">
            <IconTranslate />
            <IconCaret class="text-xs" />
          </button>
          <ul class="dropdown-content">
            <li><a class="btn" href="#">English</a></li>
          </ul>
        </li>
        <li>
          <button class="btn">
            <IconCircleHalf />
            <IconCaret class="text-xs" />
          </button>
          <ul class="dropdown-content">
            <li><a class="btn" href="#">Auto</a></li>
            <li><a class="btn" href="#">Dark</a></li>
            <li><a class="btn" href="#">Light</a></li>
          </ul>
        </li>
        <li class="pl-2">
          <Search />
        </li>
      </ul>
    </li>
  </ul>
  <!-- Mobile -->
  <ul class="lg:hidden flex flex-col items-stretch gap-4">
    <li class="flex justify-between">
      <a href={Astro.url.origin}>
        <img src="/meta/tauri_logo_dark.svg" alt="Tauri logo" class="h-10" />
      </a>
      <ul class="flex">
        <li>
          <button class="btn">
            <IconTranslate />
            <IconCaret class="text-xs" />
          </button>
        </li>
        <li>
          <button class="btn">
            <IconCircleHalf />
            <IconCaret class="text-xs" />
          </button>
        </li>
        <li>
          <button class="btn">
            <IconList />
          </button>
        </li>
      </ul>
    </li>
    <li>
      <Search />
    </li>
    <li>
      <ul>
        <NavBarLinks />
      </ul>
    </li>

    <li>
      <ul class="flex">
        <Social />
      </ul>
    </li>
  </ul>
</nav>
