---
import IconList from '~icons/bi/list'
import IconClose from '~icons/bi/x-lg'
import NavBarLinks from './NavBarLinks.astro'
import NavBarLocaleTheme from './NavBarLocaleTheme.astro'
import Social from './NavBarSocial.astro'
import Search from './NavBarSearch.astro'
import { l, t } from 'astro-i18n'
---

<style>
  .nav-drawer > input {
    @apply hidden;
  }
  .nav-drawer > .content,
  .nav-drawer > * .content {
    @apply hidden;
  }
  .nav-drawer > input:checked ~ .content,
  .nav-drawer > input:checked ~ * .content {
    @apply flex;
  }
  .nav-drawer > input:checked ~ * .icon-closed {
    @apply hidden;
  }

  .nav-drawer > input:not(:checked) ~ * .icon-open {
    @apply hidden;
  }
</style>

<nav class="bg-base-100 sticky top-0 py-4 px-8 z-nav">
  <!-- Desktop -->
  <ul class="hidden lg:flex justify-between">
    <li class="flex items-center">
      <a class="pr-8" href={l('/')}>
        <img
          src="/meta/tauri_logo_dark.svg"
          alt={t('global.tauri-logo')}
          class="h-10"
        />
      </a>
      <ul class="menu menu-horizontal">
        <NavBarLinks />
      </ul>
    </li>
    <li class="flex items-center">
      <ul class="menu menu-horizontal">
        <Social />
        <li class="border-x border-border rounded m-2"></li>
        <NavBarLocaleTheme />
      </ul>
      <div class="ml-2">
        <Search />
      </div>
    </li>
  </ul>
  <!-- Mobile -->
  <ul class="lg:hidden flex flex-col items-stretch gap-4 nav-drawer">
    <input type="checkbox" id="nav-drawer" />
    <li class="flex justify-between items-center">
      <a href={l('/')}>
        <img
          src="/meta/tauri_logo_dark.svg"
          alt={t('global.tauri-logo')}
          class="h-10"
        />
      </a>
      <ul class="menu menu-horizontal">
        <NavBarLocaleTheme />
        <li>
          <div class="!pt-2 !px-2 !pb-0">
            <Search />
          </div>
        </li>
        <li>
          <label
            for="nav-drawer"
            class="icon-closed"
            tabindex="0"
            aria-label={t('global.nav.open-navigation')}
          >
            <IconList />
          </label>
          <label
            for="nav-drawer"
            class="icon-open"
            tabindex="0"
            aria-label={t('global.nav.close-navigation')}
          >
            <IconClose />
          </label>
        </li>
      </ul>
    </li>
    <div
      class="content fixed inset-0 top-16 flex flex-col gap-4 bg-base-100 w-full z-mobile-nav px-8 py-4"
    >
      <ul class="menu">
        <NavBarLinks inlineMenu={true} />
      </ul>
      <ul class="menu menu-horizontal">
        <Social />
      </ul>
    </div>
  </ul>
</nav>
