---
import IconCaret from '~icons/bi/caret-down-fill'
import IconTranslate from '~icons/bi/translate'
import IconCircleHalf from '~icons/bi/circle-half'
import IconMoonStarsFill from '~icons/bi/moon-stars-fill'
import IconBrightnessHighFill from '~icons/bi/brightness-high-fill'
import { astroI18n, l, t } from 'astro-i18n'
import Dropdown from './Dropdown.astro'
---

{/* Fragment is here because Astro cannot seem to handle multiple JSX-containing elements as root */}
<>
  <li>
    <Dropdown label={t('global.nav.locale-dropdown')}>
      <Fragment slot="toggle">
        <IconTranslate />
        <IconCaret class="text-xs" />
      </Fragment>
      <ul slot="content">
        {
          astroI18n.langCodes.map((lang) => (
            <li>
              <a
                href={l(String(Astro.url.pathname), undefined, lang)}
                class:list={astroI18n.langCode === lang ? '!text-primary' : ''}
              >
                {t(`global.locale.${lang}`)}
              </a>
            </li>
          ))
        }
      </ul>
    </Dropdown>
  </li>
  <li>
    <Dropdown label={t('global.nav.theme-dropdown')}>
      <Fragment slot="toggle">
        <IconCircleHalf />
        <IconCaret class="text-xs" />
      </Fragment>
      <ul slot="content">
        <li>
          <button class="!text-primary">
            <IconCircleHalf />
            {t('global.nav.theme.system')}
          </button>
        </li>
        <li>
          <button>
            <IconMoonStarsFill />
            {t('global.nav.theme.dark')}
          </button>
        </li>
        <li>
          <button>
            <IconBrightnessHighFill />
            {t('global.nav.theme.light')}
          </button>
        </li>
      </ul>
    </Dropdown>
  </li>
</>