---
import Search from './Search.astro'
---

<script>
  // TODO
  // @ts-ignore
  document.getElementById('display-mode').indeterminate = true
</script>

<nav class="sticky top-0 navbar bg-base-300 px-10">
  <div class="navbar-start">
    <a href={Astro.url.origin}>
      <!-- TODO: Darkmode toggling might be able to be better -->
      <img
        src="/meta/tauri_logo_light.svg"
        alt="Tauri logo"
        class="h-8 mr-4 light-mode-only"
      />
      <img
        src="/meta/tauri_logo_dark.svg"
        alt="Tauri logo"
        class="h-8 mr-4 dark-mode-only"
      />
    </a>
    <ul class="menu menu-horizontal px-1">
      <li><a href="/docs/core/1">Docs</a></li>
      <li>
        <a>
          References
          <i class="bi bi-chevron-down"></i>
        </a>
        <ul class="bg-base-300 p-2">
          <li class="menu-title uppercase">
            <span>Tauri Core</span>
          </li>
          <li><a href="/api/core-config/1">Tauri Configuration</a></li>
          <li>
            <a href="./api">
              Rust API (via Docs.rs)
              <i class="bi bi-box-arrow-up-right"></i>
            </a>
          </li>
          <li><a href="/api/core-js/1">JavaScript API</a></li>

          <li><a href="/api/core-cli/1">Tauri CLI</a></li>
        </ul>
      </li>
      <li><a href="./about">About</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <ul class="menu menu-horizontal px-1">
      <button class="btn btn-ghost btn-circle">
        <a href="https://github.com/tauri-apps/tauri" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </button>
      <button class="btn btn-ghost btn-circle">
        <a href="https://discord.com/invite/tauri" target="_blank">
          <i class="bi bi-discord"></i>
        </a>
      </button>
      <button class="btn btn-ghost btn-circle">
        <a href="https://twitter.com/TauriApps" target="_blank">
          <i class="bi bi-twitter"></i>
        </a>
      </button>
      <button class="btn btn-ghost btn-circle">
        <a href="https://fosstodon.org/@TauriApps" target="_blank">
          <i class="bi bi-mastodon"></i>
        </a>
      </button>
      <li></li>
      <button class="btn btn-ghost btn-circle">
        <label class="swap swap-rotate">
          <input type="checkbox" id="display-mode" />
          <i class="bi bi-sun-fill swap-on"></i>
          <i class="bi bi-moon-stars-fill swap-off"></i>
          <i class="bi bi-circle-half swap-indeterminate"></i>
        </label>
      </button>
      <li>
        <button class="btn btn-ghost">
          <a>
            <i class="bi bi-translate"></i>
            <i class="bi bi-chevron-down"></i>
          </a>
        </button>
        <ul class="bg-base-300 p-2">
          <li><a class="active">🇺🇸 English</a></li>
          <li><a>🇮🇹 Italian</a></li>
          <li><a>🇨🇳 Chinese (Simplified)</a></li>
          <li><a>🇰🇷 Korean</a></li>
        </ul>
      </li>
    </ul>
    <Search />
  </div>
</nav>
