---
import IconCaret from '~icons/bi/caret-down-fill'
import IconTranslate from '~icons/bi/translate'
import IconCircleHalf from '~icons/bi/circle-half'
import IconMoonStarsFill from '~icons/bi/moon-stars-fill'
import IconBrightnessHighFill from '~icons/bi/brightness-high-fill'
---

<li class="z-nav-dropdown">
  <label tabindex="0" aria-label="Locale">
    <IconTranslate />
    <IconCaret class="text-xs" />
  </label>
  <ul>
    <li><button>Chinese</button></li>
    <li><button>English</button></li>
  </ul>
</li>
<li class="z-nav-dropdown">
  <label tabindex="0" aria-label="Theme">
    <IconCircleHalf />
    <IconCaret class="text-xs" />
  </label>
  <ul>
    <li>
      <button aria-label="System theme">
        <IconCircleHalf />
        Auto
      </button>
    </li>
    <li>
      <button aria-label="Dark">
        <IconMoonStarsFill />
        Dark
      </button>
    </li>
    <li>
      <button aria-label="Light">
        <IconBrightnessHighFill />
        Light
      </button>
    </li>
  </ul>
</li>
