---
import IconCaret from '~icons/bi/caret-down-fill'
import IconTranslate from '~icons/bi/translate'
import IconCircleHalf from '~icons/bi/circle-half'
import IconMoonStarsFill from '~icons/bi/moon-stars-fill'
import IconBrightnessHighFill from '~icons/bi/brightness-high-fill'

export interface Props {
  mobile: boolean
}

const { mobile } = Astro.props
---

<li class:list={['dropdown z-nav-dropdown', { 'dropdown-hover': !mobile }]}>
  <label tabindex="0" class="btn">
    <IconTranslate />
    <IconCaret class="text-xs" />
  </label>
  <ul class="dropdown-content menu">
    <li><button class="btn">English</button></li>
    <li><button class="btn">Chinese</button></li>
  </ul>
</li>
<li class:list={['dropdown z-nav-dropdown', { 'dropdown-hover': !mobile }]}>
  <label tabindex="0" class="btn">
    <IconCircleHalf />
    <IconCaret class="text-xs" />
  </label>
  <ul class="dropdown-content menu">
    <li>
      <button class="btn">
        <IconCircleHalf />
        Auto
      </button>
    </li>
    <li>
      <button class="btn">
        <IconMoonStarsFill />
        Dark
      </button>
    </li>
    <li>
      <button class="btn">
        <IconBrightnessHighFill />
        Light
      </button>
    </li>
  </ul>
</li>
