---
import type { MarkdownHeading } from 'astro'

// FIXME: Indention for hover effect needs to be fixed, should be lined up vertically between li's

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props

const minHeading = headings.reduce(
  (a, heading) => (a < heading.depth ? a : heading.depth),
  6
)
const headingsWithIndention = headings.map((heading) => ({
  ...heading,
  indention: `${(heading.depth - minHeading) * 2}`,
}))
---

{
  headingsWithIndention.map((heading) => (
    <li>
      <a href={`#${heading.slug}`} class={`list-item pl-${heading.indention}`}>
        {heading.text}
      </a>
    </li>
  ))
}
