---
import { sortCollection } from "@src/utils";
import { l } from "astro-i18n";
interface Props {
  entries: any[];
}

const { entries } = Astro.props;
const sortedEntries = sortCollection(entries);

function trimSlashes(url: string) {
  return url.replace(/^\/+|\/+$/g, "");
}
---

{
  sortedEntries.map((entry: any) => (
    <li>
      <a
        href={l(entry.path)}
        class:list={[
          "list-item",
          {
            "list-item-active":
              trimSlashes(entry.slug) === trimSlashes(Astro.url.pathname),
          },
        ]}
      >
        {entry.data.title || entry.slug}
      </a>
      {entry._children && (
        <ul class="pl-2">
          <Astro.self entries={entry._children} />
        </ul>
      )}
    </li>
  ))
}
