---
import '@docsearch/css'
---

<script>
  import docsearch from '@docsearch/js'

  docsearch({
    appId: 'KN0VYBLNN8',
    apiKey: '0883331bf6cc9ae2640e04d3627e34a6',
    indexName: 'tauri',
    container: '#docsearch',
  })
</script>
<div id="docsearch"></div>
