---
import type { Heading } from '../../types'

interface Props {
  headings: Heading[]
}

const { headings } = Astro.props
---

{
  headings && (
    <aside class="w-48 fixed inset-y-0 right-0 top-16 overflow-y-auto p-4">
      <p class="uppercase opacity-50 font-bold">On this page</p>
      <ul>
        {headings.map((heading) => (
          <li>
            <a href={`#${heading.slug}`}>{heading.text}</a>
          </li>
        ))}
      </ul>
    </aside>
  )
}
