---
import type { Heading } from '../../types'

interface Props {
  headings: Heading[]
}

const { headings } = Astro.props
---

<aside>
  <p>Trailing Sidebar</p>
  <p>On this page</p>
  <ul>
    {
      headings.map((heading) => (
        <li>
          <a href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))
    }
  </ul>
</aside>
