---
import type { MarkdownHeading } from 'astro'
import OnThisPage from './OnThisPage.astro'
import IconEdit from '~icons/bi/pen-fill'
import IconTranslate from '~icons/bi/translate'

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<aside class="shrink-0 w-56 flex flex-col gap-8">
  <div>
    <div class="small-caps">Versions</div>
    <div>V1 (Latest)</div>
  </div>
  <OnThisPage headings={headings} />
  <div>
    <div class="small-caps">Contribute</div>
    <a href="#"><IconEdit />Edit on GitHub</a>
    <a href="#"><IconTranslate />Translate</a>
  </div>
</aside>
