---
import Layout from '@src/layouts/Layout.astro'
import { t } from 'astro-i18n'
---

<Layout title={t('404.title')}>
  <h1>{t('404.title')}</h1>
  <h2>The page you're looking for couldn't be found</h2>
</Layout>
