.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .about {
    margin-bottom: 20px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 180px;
  width: 220px;
  object-fit: contain;
  padding: 10px;
}

.about,
.getStarted {
  border: double 4px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  padding: 0;
  width: 100%;
  transition: 0.2s;
  color: var(--ifm-hero-text-color) !important;
}

.about:hover,
.getStarted:hover {
  color: var(--ifm-hero-background-color) !important;
}

.about {
  background-image: linear-gradient(
      var(--ifm-hero-background-color),
      var(--ifm-hero-background-color)
    ),
    radial-gradient(circle at top left, #0198f1, #48f9c7);
}

.about:hover {
  background-image: linear-gradient(transparent, transparent),
    radial-gradient(circle at top left, #0198f1, #48f9c7);
}

.getStarted {
  background-image: linear-gradient(
      var(--ifm-hero-background-color),
      var(--ifm-hero-background-color)
    ),
    radial-gradient(circle at top left, #fff04d, #ff8e13);
}

.getStarted:hover {
  background-image: linear-gradient(transparent, transparent),
    radial-gradient(circle at top left, #fff04d, #ff8e13);
}

.about span,
.getStarted span {
  padding: 10px;
  display: inline-block;
  font-size: 1.6em;
}

/* Sponsors */
.heading {
  text-align: center;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: 1rem 0;
}
