---
import Layout from '@src/layouts/Layout.astro'
import { buildLocalizedStaticPaths } from '@src/utils'

export async function getStaticPaths() {
  return buildLocalizedStaticPaths()
}
---

<Layout title="Not Found">
  <h1>404</h1>
  <h2>The page you're looking for couldn't be found</h2>
</Layout>
