---
import Layout from '@src/layouts/Layout.astro'
import Icon from '~icons/bi/fire'
import { Code } from 'astro/components'
import Callout from '@src/components/Callout.astro'
---

<Layout title="Components">
  <div class="container mx-auto">
    <h1>Components</h1>
    <div>
      <h2>Menu</h2>
      <ul class="menu menu-horizontal menu-hover menu-open">
        <li>
          <div>Item 1</div>
          <ul>
            <li><span>Submenu 1</span></li>
            <li><span>Submenu 2</span></li>
            <li><span>Longer menu item</span></li>
          </ul>
        </li>
        <li><div>Item 2</div></li>
        <li><div>Item 3</div></li>
      </ul>
      <h2>Callouts</h2>
      <div>
        <Callout kind="note">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
        <br />
        <Callout kind="note" title="Hello, world!">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
        <br />
        <Callout kind="tip">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
        <br />
        <Callout kind="tip" title="Hello, world!">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
        <br />
        <Callout kind="caution">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
        <br />
        <Callout kind="caution" title="Hello, world!">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
        <br />
        <Callout kind="danger">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
        <br />
        <Callout kind="danger" title="Hello, world!">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
        <br />
        <Callout>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
        <br />
        <Callout title="Hello, world!">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur
          rem ipsa itaque quae doloremque molestiae perspiciatis adipisci
          quisquam labore commodi qui laudantium sapiente debitis optio quas,
          enim numquam iste tempore.
        </Callout>
      </div>
      <h2>Fonts</h2>
      <h1>Heading 1</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti
        assumenda magni ut cupiditate culpa fugiat tenetur sit voluptate,
        maiores laboriosam ex numquam odit, exercitationem repudiandae ducimus
        quas. Quos, molestiae dolor.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti
        assumenda magni ut cupiditate culpa fugiat tenetur sit voluptate,
        maiores laboriosam ex numquam odit, exercitationem repudiandae ducimus
        quas. Quos, molestiae dolor.
      </p>
      <h2>Heading 2</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam odio
        asperiores neque blanditiis. Ex enim unde aut quidem voluptas nobis
        molestiae. Impedit enim incidunt, consectetur nisi reiciendis ipsa
        officiis quaerat!
      </p>
      <h3>Heading 3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo culpa
        reprehenderit voluptatum reiciendis ipsa, adipisci cupiditate pariatur
        cumque consequatur, omnis ut corrupti ratione. Nemo aperiam quo ad
        veniam sed esse?
      </p>
      <h4>Heading 4</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos similique
        accusantium iusto! Dolorum illum amet debitis exercitationem architecto
        aperiam dignissimos aliquam rem qui dolorem, ut laborum tempore dicta
        optio laboriosam.
      </p>
      <h5>Heading 5</h5>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
        necessitatibus, enim fuga voluptate, dolor voluptas nemo ex rem omnis
        distinctio iure obcaecati delectus odit. Dolorem recusandae ea vitae
        excepturi blanditiis!
      </p>
      <h6>Heading 6</h6>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium,
        qui? Aut dolorum velit molestiae tempora autem dolor consequuntur
        similique reprehenderit. Cumque minima vero assumenda veritatis deserunt
        odio nam similique hic?
      </p>
      <p>
        Let's show some inline code: <code>console.log("Hello, world!");</code> That's
        neat!
      </p>
      <Code
        code={`<script>
  import { invoke } from '@tauri-apps/api/tauri'

  let name = ''
  let greetMsg = ''

  async function greet() {
    greetMsg = await invoke('greet', { name })
  }
</script>`}
        lang="js"
      />
    </div>
    <div>
      <h2>Buttons</h2>
      <div class="p-8 flex gap-8">
        <button class="btn">Button</button>
        <button class="btn btn-hover">Button</button>
        <button class="btn btn-active">Button</button>
        <button class="btn btn-selected">Button</button>
      </div>
      <div class="p-8 flex gap-8">
        <a href="#" class="btn"
          >Button
          <Icon />
        </a>
        <a href="#" class="btn btn-hover"
          >Button
          <Icon />
        </a>
        <a href="#" class="btn btn-active"
          >Button
          <Icon />
        </a>
        <a href="#" class="btn btn-selected"
          >Button
          <Icon />
        </a>
      </div>
    </div>
  </div>
</Layout>
