---
import Layout from '@src/layouts/BaseLayout.astro'
import { t, l } from 'astro-i18n'
import logo from '@src/images/tauri_logo_dark.svg'
---

<Layout title={t('index.title')}>
  <div class="flex flex-col justify-center">
    <a class="btn" href={l('/docs')}>Docs</a>
    <a class="btn" href={l('/api')}>References</a>
  </div>
</Layout>
