---
import Layout from '@src/layouts/Layout.astro'
import { t } from 'astro-i18n'
---

<Layout title={t('index.title')}>
  <div>
    <h1>{t('index.title')}</h1>
    <p>The footer should always be pinned down to the bottom</p>
  </div>
</Layout>
