.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.spacer {
  padding-top: 4rem;
}

/* Hero */
.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 4rem 0;
}

.hero::after {
  content: '';
  position: absolute;
  inset: 70% 0 0;
  background: linear-gradient(transparent, var(--ifm-background-color));
}

html[data-theme='light'] .hero::after {
  background: linear-gradient(transparent, var(--ifm-background-surface-color));
}

@media (max-width: 700px) {
  .hero {
    padding: 1rem 0;
  }
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  max-width: min(50rem, 100%);
  z-index: 1;
}

.heroBefore,
.heroAfter {
  position: relative;
}

.loopsContainer {
  height: 100%;
  display: flex;
}

.heroLoops {
  object-fit: cover;
}

.heroLoops img {
  height: intrinsic;
}

.heroBefore .heroLoops {
  object-position: right;
}

.heroAfter .heroLoops {
  object-position: left;
}

.heroPackage {
  height: 30%;
}

@media (max-width: 1200px) {
  .heroPackage {
    display: none;
  }
}

.heroBefore .heroPackage {
  position: absolute;
  transform: rotate(15deg);
  top: 40%;
  right: 3rem;
}

.heroAfter .heroPackage {
  position: absolute;
  transform: rotate(-15deg);
  top: 15%;
  left: 3rem;
}

.heroImage {
  max-width: 90%;
}

.heroSubtitle {
  max-width: 100vw;
  padding: 0 1rem;
  text-align: center;
}

@media (max-width: 700px) {
  .heroSubtitle {
    font-size: 1.2rem;
  }
}

.commandContainer {
  padding: 1rem;
  max-width: 100%;
}

/* Cards */
.cardContainer {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 2rem;
}

.card {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cardSide {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardLeading {
  align-items: flex-start;
}

.cardImage {
  position: relative;
}

.cardImage img {
  position: absolute;
  height: 100%;
  padding: 1rem;
  object-fit: contain;
}

.cardSpacer {
  flex: 1;
}

@media (max-width: 700px) {
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: unset;
  }

  .card {
    flex: 1 0 100%;
    flex-direction: column;
  }

  .cardSide {
    flex: 0 1 auto;
    height: auto;
    align-items: stretch;
    text-align: center;
  }

  .cardImage {
    position: unset;
    align-items: center;
    order: -1;
  }

  .cardImage img {
    position: unset;
    max-height: 20vh;
  }
}

/* Features and Roadmap */
.featureRoadmapEntry {
  flex: 0 1 max(calc(30%), 200px);
  display: flex;
  column-gap: 1rem;
}

.featureRoadmapIconContainer {
  flex-shrink: 0;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background: var(--ifm-card-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.featureRoadmapIcon {
  font-size: 2rem;
}

.featureIcon {
  color: var(--ifm-color-primary);
}

.roadmapIcon {
  color: var(--tauri-orange);
}

@media (max-width: 700px) {
  .featureRoadmapEntry {
    flex: 0 1 100%;
    align-items: center;
  }

  .featureRoadmapEntry h3 {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .featureRoadmapEntry p {
    margin: 0;
  }
}

/* Sponsors */
.sponsor {
  flex: 0 1 20%;
}

.premium {
  flex: 0 1 25%;
}

.partner {
  flex: 0 1 30%;
}

@media (max-width: 700px) {
  .sponsor .premium .partner {
    flex: 0 1 100%;
    text-align: center;
  }
}

.hero {
  animation: hero-intro 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  background: linear-gradient(-90deg, #6d6d6d25 1px, transparent 1px),
    linear-gradient(#6d6d6d25 1px, transparent 1px),
    linear-gradient(-90deg, #6d6d6d25 1px, transparent 1px),
    linear-gradient(#6d6d6d25 1px, transparent 1px),
    linear-gradient(
      transparent 6px,
      transparent 6px,
      transparent 156px,
      transparent 156px
    ),
    linear-gradient(-90deg, #6d6d6d25 1px, transparent 1px),
    linear-gradient(
      -90deg,
      transparent 6px,
      transparent 6px,
      transparent 156px,
      transparent 156px
    ),
    linear-gradient(#6d6d6d25 1px, transparent 1px), transparent;
  background-size: 32px 32px, 32px 32px, 256px 256px, 256px 256px, 256px 256px,
    256px 256px, 256px 256px, 256px 256px;
}

@keyframes hero-intro {
  0% {
    background-position: 0px 50px;
  }
}

@media (prefers-reduced-motion: reduce) {
  .hero {
    animation: none;
  }
}
