---
import Layout from "@src/layouts/BaseLayout.astro";
import Footer from "@src/components/Layout/Footer.astro";

const { lang } = Astro.params;
---

<Layout>
  <div class="flex flex-col justify-between h-full">
    <main class="prose p-8 max-w-[150ch] mx-auto">
      <h1>{lang}</h1>
      <h1>Welcome to <span class="text-accent">beta.tauri.app</span></h1>
      <p>Thank you for using the beta version of the Tauri website!</p>
      <p>
        If you come across any issues feel free to reach out on the <a
          href="https://discord.com/invite/tauri"
          target="_blank">Tauri Discord</a
        > or <a
          href="https://github.com/tauri-apps/tauri-docs/issues/new"
          target="_blank">submit an issue on GitHub</a
        >.
      </p>
    </main>
    <div class="p-8">
      <Footer />
    </div>
  </div>
</Layout>
