---
import Layout from '../layouts/Layout.astro'
import Carousel from '../components/Blog/Carousel.astro'
---

<Layout title="Home">
  <section class="h-[70vh] bg-indigo-900 p-8 text-center">
    <h1 class="text-4xl pb-4">Hello, Jonas!</h1>
    <h2 class="text-2xl pb-4">You ready for Tauri 2.0?</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ducimus
      facere! Repellendus quasi enim rerum accusantium quas. Rerum minima
      delectus ex, vitae sit neque obcaecati, exercitationem hic dolores
      veritatis consequatur!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ducimus
      facere! Repellendus quasi enim rerum accusantium quas. Rerum minima
      delectus ex, vitae sit neque obcaecati, exercitationem hic dolores
      veritatis consequatur!
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, ducimus
      facere! Repellendus quasi enim rerum accusantium quas. Rerum minima
      delectus ex, vitae sit neque obcaecati, exercitationem hic dolores
      veritatis consequatur!
    </p>
  </section>
  <div class="-mt-8">
    <Carousel />
  </div>
  <div class="prose max-w-none">
    <h1>Home stub</h1>
    <p>The footer should always be pinned down to the bottom</p>
  </div>
</Layout>
