---
import Layout from '@src/layouts/SidebarLayout.astro'
import { getI18nCollection } from '@src/utils'
import { astroI18n } from 'astro-i18n'

export async function getStaticPaths() {
  const collection = await getI18nCollection('api-js-1', astroI18n.langCode)
  collection.forEach((entry) => console.log(entry.slug))

  return collection.map((entry) => ({
    params: {
      slug: entry.slug,
    },
    props: {
      entry,
      collection,
    },
  }))
}

const { entry, collection } = Astro.props
const { Content, headings } = await entry.render()
---

<Layout
  title="test docs post"
  sidebarEntries={collection}
  baseUrl="api/js/1"
  headings={headings}
>
  <div class="prose">
    <Content />
  </div>
</Layout>
