---
import Layout from '@src/layouts/Layout.astro'
import { getCollection, getEntryBySlug } from 'astro:content'
import { astroI18n } from 'astro-i18n'

export async function getStaticPaths() {
  const collection = await getCollection('api')
  return collection
    .filter((entry) => entry.slug.startsWith('en/'))
    .map((entry) => ({
      ...entry,
      slug: entry.slug.slice(3),
    }))
    .map((entry) => ({
      params: {
        slug: entry.slug,
      },
      props: {
        entry,
      },
    }))
}

const { entry: englishEntry } = Astro.props
const localizedEntry = await getEntryBySlug(
  'api',
  `${astroI18n.langCode}/${englishEntry.slug}`
)

// If a localized entry doesn't exist then fall back to English
const entry = localizedEntry || englishEntry

const { Content } = await entry.render()
---

<Layout title="test api post">
  {!localizedEntry && <p>You're reading the English version</p>}
  <Content />
</Layout>
