---
import Layout from '@src/layouts/Layout.astro'
import { geti18nCollection } from '@src/utils'
import { convertCollectionToTree } from '@src/utils.js'
import { l, t, astroI18n } from 'astro-i18n'
import Toc from '@src/components/Toc.astro'

const entries = await geti18nCollection('api', astroI18n.langCode)
const tree = convertCollectionToTree(entries)
---

<Layout title={t('api.title')}>
  <main>
    <h1 class="h1">{t('api.title')}</h1>
    <ul>
      <li>This is where the stuff should go</li>
    </ul>
    <Toc collection="api" lang={astroI18n.langCode} path="js/1" />
    <Toc collection="api" lang={astroI18n.langCode} path="cli/1" />
    <Toc collection="api" lang={astroI18n.langCode} path="config/1" />
  </main>
</Layout>
