---
import Layout from "@src/layouts/SidebarLayout.astro";
import { getCollection } from "astro:content";
import { langs } from "astro.i18n.config";

export async function getStaticPaths() {
  const collection = await getCollection("api-cli-1");
  const mappedCollection = collection.flatMap((entry) => {
    return langs.map((lang) => ({
      params: {
        slug: entry.slug === "" ? undefined : entry.slug,
        lang: lang.route,
      },
      props: {
        entry,
      },
    }));
  });
  return mappedCollection;
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<Layout title="test docs post" baseUrl="api/cli/1" headings={headings}>
  <div class="prose">
    <Content />
  </div>
</Layout>
