---
import IconNote from '~icons/bi/sticky-fill'
import IconTip from '~icons/bi/hand-thumbs-up-fill'
import IconInfo from '~icons/bi/info-circle-fill'
import IconCaution from '~icons/bi/exclamation-triangle-fill'
import IconDanger from '~icons/bi/fire'
import IconQuote from '~icons/bi/quote'

type kind = 'note' | 'info' | 'tip' | 'caution' | 'danger'

interface Props {
  kind?: string
  title?: string
}

const { kind, title } = Astro.props
---

<div
  class:list={[
    { 'bg-info/25 border-info': kind === 'info' },
    { 'bg-success/25 border-success': kind === 'tip' },
    { 'bg-caution/25 border-caution': kind === 'caution' },
    { 'bg-danger/25 border-danger': kind === 'danger' },
    {
      'bg-base-content/25 border-base-content':
        kind === 'note' || kind === undefined,
    },
    'border-l-4 rounded-lg p-4',
  ]}
>
  <div class="small-caps flex items-center gap-2">
    {kind === 'note' && <IconNote />}
    {kind === 'info' && <IconInfo />}
    {kind === 'tip' && <IconTip />}
    {kind === 'caution' && <IconCaution />}
    {kind === 'danger' && <IconDanger />}
    {kind === undefined && <IconQuote />}
    <div>
      {
        !title && (
          <>
            {kind === 'note' && 'Note'}
            {kind === 'tip' && 'Tip'}
            {kind === 'info' && 'Info'}
            {kind === 'caution' && 'Caution'}
            {kind === 'danger' && 'Danger'}
          </>
        )
      }
      {title}
    </div>
  </div>
  <slot />
</div>
