---
import { Card } from '@astrojs/starlight/components';
const isTauri = process.env.TAURI_DEBUG
---

{
  isTauri ? (
  <Card title="Demo" icon="document">
    {
      Astro.slots.has('default') && (
        <>
          <slot />
        </>
      )
    }
  </Card>
  ) : (
  <Card title="Demo" icon="document">
    <p>You can download the Tauri Documentation app here: <a href="#">INSERT LINK</a></p>
  </Card>
  )
}
