---
import { Card } from "@astrojs/starlight/components";
---

<div class="card">
  <Card title="Next Steps" icon="rocket">
    <slot />
  </Card>
</div>

<style>
  .card :global(ul) {
    list-style: none;
    padding-inline-start: 0;
  }
</style>
