---
import { Card } from '@astrojs/starlight/components';
---

<Card title="Prerequisites">
  <ol>
    <li>
      Which operating system do you develop on?
      <ul>
        <li>Linux</li>
        <li>macOS</li>
        <li>Windows</li>
      </ul>
    </li>
    <li>Would you like to develop for iOS?</li>
    <li>Would you like to develop for Android?</li>
  </ol>
</Card>
