---
import { buildLocalizedDocsCollection } from "@src/utils";
import { extractRouteLangCode, l } from "astro-i18n";

const lang = extractRouteLangCode(Astro.url.pathname);

if (!lang) {
  throw Error(
    "Not able to determine the locale in order to build Table of Contents"
  );
}

let collection = await buildLocalizedDocsCollection(lang);

collection = collection.filter((entry) => {
  const entryPath = entry.props.entry.path;
  const currentPath = Astro.url.pathname;
  return (
    entryPath.startsWith(currentPath) &&
    currentPath.split("/").length + 1 == entryPath.split("/").length
  );
});
---

<div class="not-prose">
  <ul class="grid grid-cols-2 gap-4 not-prose">
    <h2 class="bg-accent">Testing</h2>
    {
      collection.map((entry) => (
        <a href={entry.props.entry.path}>
          <li class="card">
            {entry.props.entry.data.title || entry.props.entry.slug}
          </li>
        </a>
      ))
    }
  </ul>
</div>
