---
import { getCollection } from "astro:content";
import { normalizeSlug, buildLocalizedCollection } from "@src/i18n";
import { sortCollection } from "@src/utils";

const { slug } = Astro.params;
const normalizedSlug = normalizeSlug(slug) || "";
const depth = normalizedSlug.split("/").length + 1;

let collection = await getCollection(
  "docs",
  ({ slug }) =>
    slug.startsWith(normalizedSlug) && slug.split("/").length == depth
);

collection = buildLocalizedCollection(collection);
collection = sortCollection(collection);
const relativeCollection = collection.map((entry) => ({
  ...entry,
  slug: entry.slug.replace(slug || "", "").replace(/^\//, ""),
}));
---

<div class="not-prose">
  <ul class="grid grid-cols-2 gap-4 not-prose">
    {
      relativeCollection.map((entry) => (
        <a href={entry.slug}>
          <li class="card">{entry.data.title || entry.slug}</li>
        </a>
      ))
    }
  </ul>
</div>
