---
import type { TreeNode } from '@src/utils'

interface Props {
  node: TreeNode
}

const { node } = Astro.props
---

<li>
  {node.slug}
  {
    node.children && (
      <ul class="pl-4">
        {node.children.map((child) => (
          <Astro.self node={child} />
        ))}
      </ul>
    )
  }
</li>
