/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import '~@fontsource/rubik';
@import 'bootstrap-icons';

/* You can override the default Infima variables here. */
:root {
  font-family: 'Rubik', sans-serif;
  --tauri-orange: #d58100;

  --ifm-code-font-size: 95%;
  --ifm-heading-line-height: 1.4;
  --ifm-font-size-base: 95%;
  --ifm-contents-border-color: var(--ifm-color-emphasis-300);
  --ifm-card-background-color: #f6f6f6;

  --docusaurus-highlighted-code-line-bg: white;
}

[data-theme='dark'] {
  --ifm-color-primary: #67d6ed;
  --ifm-color-primary-dark: #49cee9;
  --ifm-color-primary-darker: #39cae8;
  --ifm-color-primary-darkest: #19b5d5;
  --ifm-color-primary-light: #85def1;
  --ifm-color-primary-lighter: #95e2f2;
  --ifm-color-primary-lightest: #c2eff8;

  --ifm-card-background-color: #2f2f2f;

  --docusaurus-highlighted-code-line-bg: rgb(100, 100, 100);

  --tauri-orange: #ffc131;
}

.markdown {
  --ifm-heading-line-height: 1.4;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.mermaid svg {
  display: block;
  margin: auto;
}

.pattern-logo {
  text-align: center;
}

.pattern-logo img {
  max-height: 191px;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[class*='announcementBar_'] {
  min-height: 52px;
}

/* Keeps colour so it doesn't clash with background, add underline */
[class*='announcementBarContent_'] a:hover {
  color: unset;
}

/* Keep colour so it doesn't clash with background */
a.button:hover {
  color: var(--ifm-button-color);
  text-decoration: none;
}

[class*='property_'] .hash-link {
  display: inline-block;
  position: relative;
  top: -10px;
  background-color: var(--ifm-background-color);
}

.header-github-link::before {
  display: block;
  content: '';
  height: 24px;
  width: 24px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23fff' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='light'] .header-github-link::before {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

/* Fix react-toggle growing too wide */
.react-toggle {
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  #announcement-link {
    display: block;
  }
}

/* Allows dynamic images based on light/dark mode */
/* https://docusaurus.io/docs/markdown-features/assets#github-style-themed-images */
[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'],
[data-theme='light'] img.gh-dark-mode-only,
[data-theme='dark'] img.gh-light-mode-only {
  display: none;
}

/* Fix scrollbar in searchbar appearing due to logo margin */
.docs-searchbar-footer-logo {
  margin: 0 !important;
}

.anchor-with-padding {
  scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem);
}

pre.language-shell .token-line::before {
  content: '$ ';
}

pre.language-powershell > code::before {
  content: 'PS C:\\> ';
}
