/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css?family=Tauri&display=swap');
@import 'themify-icons.css';
@import 'hljs-dark.css';
@import 'hljs-light.css';
@import 'tabs.css';

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #67d6ed;
  --ifm-color-primary-dark: #49cee9;
  --ifm-color-primary-darker: #39cae8;
  --ifm-color-primary-darkest: #19b5d5;
  --ifm-color-primary-light: #85def1;
  --ifm-color-primary-lighter: #95e2f2;
  --ifm-color-primary-lightest: #c2eff8;
  --ifm-code-font-size: 95%;
  --ifm-heading-line-height: 1.4;
  --ifm-font-size-base: 95%;
  --ifm-contents-border-color: var(--ifm-color-emphasis-300);
}

.markdown {
  --ifm-heading-line-height: 1.4;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.features {
  margin: 60px 0;
}

.features h3 {
  text-align: center;
  font-size: 1.6em;
}

body {
  font-family: 'Tauri';
}

ul.roadmap-legend {
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}

ul.roadmap-legend li {
  display: inline-block;
  margin-right: 20px;
}

ul.roadmap-legend li:last-child {
  margin-right: 0;
}

ul.roadmap-legend li span {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  vertical-align: middle;
}

ul.roadmap {
  max-width: 960px;
  margin: auto;
  position: relative;
  padding: 0;
}

ul.roadmap::before {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  top: 0;
  bottom: 0;
  left: 20px;
  width: 3px;
  background-color: #ccd;
}

ul.roadmap li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

ul.roadmap li .icon {
  height: 42px;
  width: 42px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 20px;
  padding: 2px;
  color: #000000;
  text-align: center;
  font-size: 25px;
}

ul.roadmap li .content {
  flex: 1;
  font-size: 1.2em;
}

ul.roadmap li .content .title {
  font-weight: bold;
}

ul.roadmap li .content .description {
  font-size: 0.8em;
}

.hero__subtitle {
  margin-top: 26px;
}

.features .row .col {
  align-self: center;
  text-align: center;
}

.mermaid svg {
  display: block;
  margin: auto;
}

.pattern-logo {
  text-align: center;
}

.pattern-logo img {
  max-height: 191px;
}

html[data-theme='dark'] #starfield {
  display: block !important;
  width: 100%;
  height: 100%;
  background: #111;
  position: absolute;
}

.roadmap-container {
  display: block;
  position: relative;
}

.features .row .feature {
  margin-bottom: 20px;
}

.features .col {
  display: flex;
  align-self: stretch !important;
}

.features .card {
  width: 100%;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2 > [class^='ti-'] {
  vertical-align: middle;
}

.anchorify::before {
  display: block;
  content: ' ';
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}

[class*='announcementBar_'] {
  height: auto !important;
}

[class*='property_'] .hash-link {
  display: inline-block;
  position: relative;
  top: -10px;
  background-color: var(--ifm-background-color);
}