/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import 'tabs.css';
@import '~@fontsource/rubik';
@import '~bootstrap-icons/font/bootstrap-icons';

/* You can override the default Infima variables here. */
:root {
  font-family: 'Rubik';

  --tauri-orange: #ffc131;
  --tauri-blue: #24c8d8;
  --tauri-white: #f6f6f6;
  --tauri-coal: #2f2f2f;
  --tauri-black: #0f0f0f; 
  --tauri-night: #070707;
  
  /* Accents */
  --tauri-accent-blue: var(--tauri-blue);
  --tauri-accent-green: #34C759;
  --tauri-accent-orange: var(--tauri-orange);
  --tauri-accent-red: #DB3A24;
  --tauri-accent-purple: #AF52DE;

  /* Primary colours */
  --ifm-color-primary: var(--tauri-blue);
  --ifm-color-primary-dark: darken(var(--ifm-color-primary), 10%);
  --ifm-color-primary-darker: darken(var(--ifm-color-primary-dark), 10%);
  --ifm-color-primary-darkest: darken(var(--ifm-color-primary-darker), 10%);
  --ifm-color-primary-light: lighten(var(--ifm-color-primary), 10%);
  --ifm-color-primary-lighter: lighten(var(--ifm-color-primary-light), 10%);
  --ifm-color-primary-lightest: lighten(var(--ifm-color-primary-lighter), 10%);

  /* Secondary colours */
  --ifm-color-secondary: var(--tauri-white);
  --ifm-color-secondary-dark: darken(var(--ifm-color-secondary), 10%);
  --ifm-color-secondary-darker: darken(var(--ifm-color-secondary-dark), 10%);
  --ifm-color-secondary-darkest: darken(var(--ifm-color-secondary-darker), 10%);
  --ifm-color-secondary-light: lighten(var(--ifm-color-secondary), 10%);
  --ifm-color-secondary-lighter: lighten(var(--ifm-color-secondary-light), 10%);
  --ifm-color-secondary-lightest: lighten(var(--ifm-color-secondary-lighter), 10%);

  /* Semantic info colours */
  --ifm-color-info: var(--tauri-blue);
  --ifm-color-info-dark: darken(var(--ifm-color-blue), 10%);
  --ifm-color-info-darker: darken(var(--ifm-color-blue-dark), 10%);
  --ifm-color-info-darkest: darken(var(--ifm-color-blue-darker), 10%);
  --ifm-color-info-light: lighten(var(--ifm-color-blue), 10%);
  --ifm-color-info-lighter: lighten(var(--ifm-color-blue-light), 10%);
  --ifm-color-info-lightest: lighten(var(--ifm-color-blue-lighter), 10%);

  /* Semantic warning colours */
  --ifm-color-warning: var(--tauri-orange);
  --ifm-color-warning-dark: darken(var(--ifm-color-warning), 10%);
  --ifm-color-warning-darker: darken(var(--ifm-color-warning-dark), 10%);
  --ifm-color-warning-darkest: darken(var(--ifm-color-warning-darker), 10%);
  --ifm-color-warning-light: lighten(var(--ifm-color-warning), 10%);
  --ifm-color-warning-lighter: lighten(var(--ifm-color-warning-light), 10%);
  --ifm-color-warning-lightest: lighten(var(--ifm-color-warning-lighter), 10%);

  --ifm-contents-border-color: var(--ifm-color-emphasis-300);
}

/* Options for light colour */
:root[data-theme='light'] {
  /* Accents */
  --tauri-accent-blue: #32ADE6;
  --tauri-accent-green: #34C759;
  --tauri-accent-orange: #FF9500;
  --tauri-accent-red: #DB3A24;
  --tauri-accent-purple: #AF52DE;

  /* Primary colours */
  --ifm-color-primary: var(--tauri-accent-blue);
  --ifm-color-primary-dark: darken(var(--ifm-color-primary), 10%);
  --ifm-color-primary-darker: darken(var(--ifm-color-primary-dark), 10%);
  --ifm-color-primary-darkest: darken(var(--ifm-color-primary-darker), 10%);
  --ifm-color-primary-light: lighten(var(--ifm-color-primary), 10%);
  --ifm-color-primary-lighter: lighten(var(--ifm-color-primary-light), 10%);
  --ifm-color-primary-lightest: lighten(var(--ifm-color-primary-lighter), 10%);

  /* Semantic info colours (same as primary) */
  --ifm-color-info: var(--tauri-accent-blue);
  --ifm-color-info-dark: darken(var(--ifm-color-info), 10%);
  --ifm-color-info-darker: darken(var(--ifm-color-info-dark), 10%);
  --ifm-color-info-darkest: darken(var(--ifm-color-info-darker), 10%);
  --ifm-color-info-light: lighten(var(--ifm-color-info), 10%);
  --ifm-color-info-lighter: lighten(var(--ifm-color-info-light), 10%);
  --ifm-color-info-lightest: lighten(var(--ifm-color-info-lighter), 10%);

  /* Semantic warning colours */
  --ifm-color-warning: var(--tauri-accent-orange);
  --ifm-color-warning-dark: darken(var(--ifm-color-warning), 10%);
  --ifm-color-warning-darker: darken(var(--ifm-color-warning-dark), 10%);
  --ifm-color-warning-darkest: darken(var(--ifm-color-warning-darker), 10%);
  --ifm-color-warning-light: lighten(var(--ifm-color-warning), 10%);
  --ifm-color-warning-lighter: lighten(var(--ifm-color-warning-light), 10%);
  --ifm-color-warning-lightest: lighten(var(--ifm-color-warning-lighter), 10%);

  /* Semantic danger colours */
  --ifm-color-danger: var(--tauri-accent-red);
  --ifm-color-danger-dark: darken(var(--ifm-color-danger), 10%);
  --ifm-color-danger-darker: darken(var(--ifm-color-danger-dark), 10%);
  --ifm-color-danger-darkest: darken(var(--ifm-color-danger-darker), 10%);
  --ifm-color-danger-light: lighten(var(--ifm-color-danger), 10%);
  --ifm-color-danger-lighter: lighten(var(--ifm-color-danger-light), 10%);
  --ifm-color-danger-lightest: lighten(var(--ifm-color-danger-lighter), 10%);

  --ifm-background-color: #ffffff;
  --ifm-footer-background-color: #ffffff;
}

a:hover {
  color: inherit;
}

/* Background animation */
.container::after, .container::before {
  animation: buble 6s ease;
  -webkit-animation: buble 6s ease;
  -moz-animation: buble 6s ease;
  -o-animation: buble 6s ease;
  -ms-animation: buble 6s ease;
  overflow: hidden;
  z-index: -1;
  opacity: 0.04;
  height: 200vh;
  width: 200vh;
  position: fixed;
  content: '';
  animation-duration: 9s !important;
  top: -80%;
}

.container::before {
  background: radial-gradient(50% 50% at 50% 50%, var(--tauri-accent-purple) 0%, rgba(0, 0, 0, 0) 100%);
  left: -60%;
}

.container::after {
  background: radial-gradient(50% 50% at 50% 50%, var(--tauri-accent-blue) 0%, rgba(0, 0, 0, 0) 100%);
  right: -70%;
}

/* @keyframes fadeIn {
  0% {opacity:0;transform: translateY(30px);}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;transform: translateY(30px);}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;transform: translateY(30px);}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;transform: translateY(30px);}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;transform: translateY(30px);}
  100% {opacity:1;}
}

@keyframes buble {
  0% {top: -190%; transform: scale(0.4);}
  100% {}
}

@-moz-keyframes buble {
  0% {top: -190%; transform: scale(0.4);}
  100% {}
}

@-webkit-keyframes buble {
  0% {top: -190%; transform: scale(0.4);}
  100% {}
}
@-o-keyframes buble {
  0% {top: -190%; transform: scale(0.4);}
  100% {}
}

@-ms-keyframes buble {
  0% {top: -190%; transform: scale(0.4);}
  100% {}
} */

.navbar {
  border-bottom: 1px solid var(--ifm-background-surface-color);
  padding: 0 var(--ifm-navbar-padding-horizontal);
}

.navbar__item {
  transition: 0.2s ease;
  padding: 1rem var(--ifm-navbar-item-padding-horizontal);
}

.navbar__search {
  padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal);
  order: 1;
}

.badge--warning,
.badge--warning:hover {
  color: var(--ifm-button-color);
  /* Fixes the background color on mobile */
  background-color: var(--ifm-color-warning) !important;
  padding: var(--ifm-navbar-item-padding-vertical) var(--ifm-navbar-item-padding-horizontal)
}

/* background height needs to be set to 100% somehow */
.navbar__item:hover {
  background-color: var(--ifm-menu-color-background-hover);
}

.markdown {
  --ifm-heading-line-height: 1.4;
}

.features {
  margin: 60px 0;
}

.features h3 {
  text-align: center;
  font-size: 1.6em;
}

/* Roadmap */
ul.roadmap-legend {
  padding: 0;
  margin-bottom: 30px;
  text-align: center;
}

ul.roadmap-legend li {
  display: inline-block;
  margin-right: 20px;
}

ul.roadmap-legend li:last-child {
  margin-right: 0;
}

ul.roadmap-legend li span {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50px;
  vertical-align: middle;
}

ul.roadmap {
  max-width: 960px;
  margin: auto;
  position: relative;
  padding: 0;
}

ul.roadmap::before {
  position: absolute;
  display: block;
  content: '';
  top: 10px;
  bottom: 10px;
  left: 19px;
  width: 4px;
  background-color: rgb(221, 221, 221);
  border-radius: 1em;
}

ul.roadmap li {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

ul.roadmap li .icon {
  height: 42px;
  width: 42px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 20px;
  padding: 2px;
  color: var(--ifm-background-surface-color);
  text-align: center;
  font-size: 25px;
}

ul.roadmap li .content {
  flex: 1;
  font-size: 1.2em;
}

ul.roadmap li .content .title {
  font-weight: bold;
}

ul.roadmap li .content .description {
  font-size: 0.8em;
}

.hero__subtitle {
  margin-top: 26px;
}

.features .row .col {
  align-self: center;
  text-align: center;
}

.mermaid svg {
  display: block;
  margin: auto;
}

.pattern-logo {
  text-align: center;
}

.pattern-logo img {
  max-height: 191px;
}

.roadmap-container {
  display: block;
  position: relative;
}

.features .row .feature {
  margin-bottom: 20px;
}

.features .col {
  display: flex;
  align-self: stretch !important;
}

.features .card {
  width: 100%;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2 > [class^='bi-'] {
  vertical-align: middle;
}

.anchorify::before {
  display: block;
  content: ' ';
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
  pointer-events: none;
}

[class*='announcementBar_'] {
  min-height: 52px;
}

[class*='property_'] .hash-link {
  display: inline-block;
  position: relative;
  top: -10px;
  background-color: var(--ifm-background-color);
}

/* Ethidcal Ad */
[data-ea-publisher].loaded .ea-content,
[data-ea-type].loaded .ea-content {
  background: var(--ifm-pre-background);
}

[data-ea-publisher].loaded .ea-content a:link,
[data-ea-type].loaded .ea-content a:link {
  color: var(--ifm-font-color-base);
}

#announcement-beta {
  font-weight: bold;
}