.rust > rect {
    fill: #fad3a9;
    stroke: #F28918;
    stroke-width: 4px;
}

.webview > rect {
    fill: #abd0f9;
    stroke: #1D81EE;
    stroke-width: 4px;
}

.server > rect {
    fill: #49A24A;
    stroke: #2B6063;
    stroke-width: 4px;
}

.other > rect {
    stroke: #1D81EE;
    stroke-width: 4px;
}

.apibridge > circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 4px;
}
