---
import { CollectionEntry, getCollection } from 'astro:content'
import Layout from '../../../../layouts/Layout.astro'

export async function getStaticPaths() {
  const collection = await getCollection('api-core-js-1')
  return collection.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

interface Props {
  entry: CollectionEntry<'api-core-js-1'>
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()
---

<Layout title={entry.slug}>
  <div>
    <p>On this page</p>
    <ul>
      {headings.map((heading) => <li>{JSON.stringify(heading)}</li>)}
    </ul>
  </div>
  <!-- FIXME: Markdown links ending in `.md` don't have the `.md` extension removed when rendering -->
  <Content />
</Layout>
