---
import { getCollection } from 'astro:content'
import Layout from '../../../../layouts/Layout.astro'

const collection = await getCollection('api-core-js-1')
// collection.map((entry) => console.log(entry.slug))
---

<Layout title="Core JavaScript API">
  <h1>Core JavaScript API</h1>
  <p>This is a custom astro page</p>
  <ul>
    {
      collection.map((entry) => (
        <li>
          <!-- FIXME: For some reason this isn't keeping the `/1/` in the url -->
          <a href={entry.slug}>{entry.slug}</a>
        </li>
      ))
    }
  </ul>
</Layout>
