---
import { getCollection } from 'astro:content'
import Layout from '../../../../layouts/Layout.astro'

const collection = await getCollection('api-core-js-1')
// FIXME: Does `1/` need to be hardcoded below?
---

<Layout title="Core JavaScript API">
  <h1>Core JavaScript API</h1>
  <p>This is a custom astro page</p>
  <ul>
    {
      collection.map((entry) => (
        <li>
          <a href={`${Astro.url.pathname}${entry.slug}`}>{entry.slug}</a>
        </li>
      ))
    }
  </ul>
</Layout>
