---
import { getStaticPaths } from '../../pages/blog/[...slug].astro'

interface Props {
  postId: string
}
const { postId } = Astro.props
const markdownPosts = await getStaticPaths()

markdownPosts.sort((a, b) => {
  // @ts-ignore
  return a.props.entry.data.date - b.props.entry.data.date
})

const postIndex = markdownPosts.findIndex(
  (post) => post.props.entry.id == postId
)

const previousPost = markdownPosts[postIndex - 1]
const nextPost = markdownPosts[postIndex + 1]
---

<div class="flex justify-between">
  <div>
    {
      previousPost && (
        <a href={`/blog/${previousPost.params.slug}`}>
          <div class="card bg-base-200 max-w-sm">
            <div class="card-body">
              <p class="uppercase text-xs opacity-40 font-bold">
                Previous Post
              </p>
              <p>{previousPost.props.entry.data.title}</p>
            </div>
          </div>
        </a>
      )
    }
  </div>
  <div>
    {
      nextPost && (
        <a href={`/blog/${nextPost.params.slug}`}>
          <div class="card bg-base-200 max-w-sm">
            <div class="card-body">
              <p class="uppercase text-xs opacity-40 font-bold">Next Post</p>
              <p>{nextPost.props.entry.data.title}</p>
            </div>
          </div>
        </a>
      )
    }
  </div>
</div>
