---
import { geti18nCollection } from '@src/utils'
import { astroI18n, l } from 'astro-i18n'

const posts = await geti18nCollection('blog', astroI18n.langCode)
posts.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
---

<div class="overflow-x-scroll pb-4">
  <div class="flex gap-4 snap-x">
    {
      posts.map((post) => (
        <a
          class="card shrink-0 w-[calc(100%*.75)] lg:w-[calc(100%/2.5)] snap-start flex flex-col gap-2"
          href={l(`/blog/${post.slug}`)}
        >
          <div class="card-body">
            <div class="small-caps">
              {post.data.date.toLocaleDateString(undefined, {
                dateStyle: 'long',
              })}
            </div>
            <div class="h3 truncate">{post.data.meta_title ?? post.slug}</div>
            <div>{post.data.meta_description ?? post.body}</div>
          </div>
        </a>
      ))
    }
  </div>
</div>
