---
import Layout from '../../../../../layouts/Layout.astro'
import type { Page } from '../../../../../types'

export const meta: Page = {
  title: 'Tauri Community Survey 2022 Results',
  href: '',
}

const bubbles = [
  'Improved Search',
  'More examples',
  'Fabian is amazing!',
  'MoBiLe WhEn?',
]
---

<Layout title={meta.title}>
  <h1>Tauri Community Survey 2022 Results</h1>
  <div>
    {
      bubbles.map((bubble) => (
        <div class="chat chat-start">
          <div class="chat-bubble">{bubble}</div>
        </div>
      ))
    }
  </div>

  <div class="stats">
    <div class="stat">
      <div class="stat-title">Total Resposnes</div>
      <div class="stat-value text-accent">444</div>
      <div class="stat-desc">500% more than last year</div>
    </div>
  </div>
</Layout>
