.row {
  padding-top: 40px;
  margin-top: -40px;
  margin-bottom: 60px;
  padding-bottom: 1px;
  border-left: 1px solid var(--ifm-contents-border-color);
  border-top: 1px solid var(--ifm-contents-border-color);
}

.row .property {
  margin-top: -12px;
  height: 42px;
}

.row h3,
.row code,
.row .description {
  padding: 0;
  font-size: 0.9em;
}

.content {
  margin-left: 20px;
  margin-bottom: 30px;
}

.content:last-of-type {
  margin-bottom: 10px;
}

.row .description {
  margin: 0 0 30px;
}

.description .alert {
  margin-top: 10px;
}

.property code {
  position: relative;
  top: -3px;
}
