---
import Layout from '../../../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import { locales } from '../../../config'

export async function getStaticPaths() {
  return locales.map((locale) => ({
    params: {
      locale,
    },
  }))
}

// TODO: Need to still list out if non-english page doesn't exist

const { locale } = Astro.params

const collection = await getCollection('api')
const filteredCollection = collection
  .filter((entry) => entry.slug.startsWith(locale ?? 'en'))
  .map(({ slug, ...rest }) => ({
    slug: slug.substring(slug.indexOf('/') + 1),
    ...rest,
  }))
---

<Layout title="API">
  <h1>Docs</h1>
  <ul>
    {
      filteredCollection.map((entry) => (
        <li>
          <a href={`/${locale}/api/${entry.slug}`}>{entry.slug}</a>
        </li>
      ))
    }
  </ul>
</Layout>
