---
import NavBar from '../components/Layout/NavBar.astro'
import '../styles/global.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- TODO: Add a site config with the site title -->
    <title>{`${title} | Tauri.app`}</title>
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>
