---
import NavBar from '../components/Layout/NavBar.astro'
import '../styles/global.css'
import '../styles/tabs.css'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/meta/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/meta/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/meta/favicon-16x16.png"
    />
    <link rel="manifest" href="/meta/site.webmanifest" />
    <link rel="shortcut icon" href="/meta/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-config" content="/meta/browserconfig.xml" />
    <meta name="theme-color" content="#2f2f2f" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} | Tauri.app`}</title>
    <script src="../rehype-tabs/initializeTabs.ts"></script>
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>
