---
import { astroI18n, l } from 'astro-i18n'
import NavBar from '../components/Layout/NavBar.astro'
import '../styles/global.css'

export interface Props {
  title: string
}

const { title } = Astro.props

astroI18n.init(Astro)
---

<!DOCTYPE html>
<html lang={astroI18n.langCode} data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    {
      astroI18n.langCodes.map((lang) => (
        <link
          rel="alternative"
          hreflang={lang}
          href={l(String(Astro.url.pathname), undefined, lang)}
        />
      ))
    }
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/meta/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/meta/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/meta/favicon-16x16.png"
    />
    <link rel="manifest" href="/meta/site.webmanifest" />
    <link rel="shortcut icon" href="/meta/favicon.ico" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-config" content="/meta/browserconfig.xml" />
    <meta name="theme-color" content="#141414" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} | Tauri.app`}</title>
  </head>
  <body class="bg-base-100 text-base-content" tabindex="-1">
    <NavBar />
    <slot />
  </body>
</html>
