---
import type { Heading } from '../types'
import type { CollectionEntry } from 'astro:content'
import Footer from '../components/Layout/Footer.astro'
import TrailingSidebar from '../components/Layout/TrailingSidebar.astro'
import BaseLayout from './BaseLayout.astro'
import BlogFooter from '../components/Blog/BlogFooter.astro'

export interface Props {
  entry: CollectionEntry<'blog'>
  headings: Heading[]
}

const { entry, headings } = Astro.props
---

<BaseLayout title={entry.data.title}>
  <div class="p-8 max-w-4xl mx-48">
    <main>
      <slot />
    </main>
    <div class="py-8">
      <BlogFooter postId={entry.id} />
    </div>
    <Footer />
  </div>
  <TrailingSidebar headings={headings} />
</BaseLayout>
