---
import type { TreeNode } from '@src/utils.js'
import Footer from '../components/Layout/Footer.astro'
import Layout from './BaseLayout.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<Layout title={title}>
  <div class="absolute inset-0 top-[var(--nav-height)] flex bg-base-200">
    <div
      class="hidden flex-none lg:block w-[var(--sidebar-width)] overflow-y-auto"
    >
      <slot name="leading-sidebar" />
    </div>
    <div class="max-w-[150ch] overflow-y-auto">
      <article>
        <slot />
      </article>
      <Footer />
    </div>
    <div
      class="hidden lg:block flex-none w-[var(--sidebar-width)] overflow-y-auto"
    >
      <slot name="trailing-sidebar" />
    </div>
  </div>
</Layout>
