---
import Footer from '../components/Layout/Footer.astro'
import LeadingSidebar from '../components/Layout/LeadingSidebar.astro'
import TrailingSidebar from '../components/Layout/TrailingSidebar.astro'
import type { Heading } from '../types'
import Layout from './BaseLayout.astro'

export interface Props {
  title: string
  leadingHeadings: Heading[]
  trailingHeadings: Heading[]
}

const { title, leadingHeadings, trailingHeadings } = Astro.props
---

<Layout title={title}>
  <div class="w-full">
    <LeadingSidebar headings={leadingHeadings} />
    <div class="mx-80 py-4 px-8 overflow-y-auto">
      <article>
        <slot />
      </article>
      <Footer />
    </div>
    <TrailingSidebar headings={trailingHeadings} />
  </div>
</Layout>
