---
import Footer from '../components/Layout/Footer.astro'
import Layout from './BaseLayout.astro'

interface Props {
  title: string
  leadingSidebar: boolean
}

const { title, leadingSidebar } = Astro.props
---

<Layout title={title}>
  <div class="absolute inset-0 top-[var(--nav-height)] flex gap-4 bg-base-200">
    <div
      class={`hidden ${
        leadingSidebar && 'bg-base-100'
      } flex-none lg:block w-[var(--sidebar-width)] overflow-y-auto`}
    >
      <slot name="leading-sidebar" />
    </div>
    <div class="max-w-[150ch] overflow-y-auto">
      <article>
        <slot />
      </article>
      <Footer />
    </div>
    <div
      class="hidden lg:block flex-none w-[var(--sidebar-width)] overflow-y-auto"
    >
      <slot name="trailing-sidebar" />
    </div>
  </div>
</Layout>
