---
import { getCollection } from 'astro:content'
import {
  buildLocalizedStaticPaths,
  transformLocalizedEntrySlug,
} from '@src/utils'
import Layout from '@src/layouts/Layout.astro'
import TrailingSidebar from '@src/components/Layout/TrailingSidebar.astro'
import LeadingSidebar from '@src/components/Layout/LeadingSidebar.astro'

export async function getStaticPaths() {
  const collection = await getCollection('docs')

  return collection.flatMap((entry) => {
    return buildLocalizedStaticPaths(
      { slug: transformLocalizedEntrySlug(entry.slug) },
      { entry }
    )
  })
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()

const entries = await getCollection('docs')
---

<Layout title={headings[0].text ?? ''}>
  <div class="flex gap-8 bg-base-200">
    <LeadingSidebar entries={entries} />
    <main>
      <Content />
    </main>
    <TrailingSidebar headings={headings} />
  </div>
</Layout>
