---
import Layout from '../../../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import {
  buildLocalizedStaticPaths,
  transformRelativeLocalizedEntrySlug,
} from '../../../utils'

export async function getStaticPaths() {
  return buildLocalizedStaticPaths()
}

// TODO: Need to still list out if non-english page doesn't exist

const { locale } = Astro.params

const collection = await getCollection('docs')
const filteredCollection = collection.filter((entry) =>
  entry.slug.startsWith(locale ?? 'en')
)
---

<Layout title="Docs">
  <h1>Docs</h1>
  <ul>
    {
      filteredCollection.map((entry) => (
        <li>
          <a href={transformRelativeLocalizedEntrySlug(entry.slug, 'docs')}>
            {entry.slug}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
