---
import Layout from '../../../layouts/Layout.astro'
import { getCollection } from 'astro:content'
import TrailingSidebar from '../../../components/Layout/TrailingSidebar.astro'
import LeadingSidebar from '../../../components/Layout/LeadingSidebar.astro'

export async function getStaticPaths() {
  const collection = await getCollection('docs')

  // TODO: Need to build in fallbacks if a non-english page doesn't exist

  return collection.map((entry) => ({
    params: {
      locale: entry.slug.slice(0, 2),
      slug: entry.slug.split('/').slice(1).join('/'),
    },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()

const entries = await getCollection('docs')
---

<Layout title={headings[0].text ?? ''}>
  <div class="flex gap-8 bg-base-200">
    <LeadingSidebar entries={entries} />
    <main>
      <Content />
    </main>
    <TrailingSidebar headings={headings} />
  </div>
</Layout>
